@charset "UTF-8";
:root {
  --fz-main: 14px;
  --fz-xmedium: 16px;
  --fz-medium: 18px;
  --fz-big: 26px;
  --fz-xhuge: 22px;
  --fz-huge: 32px;
  --lh-tiny: 90%;
  --lh-xsmall: 120%;
  --lh-small: 130%;
  --lh-medium: 140%;
  --lh-huge: 172%;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 800;
  --radius-xsmall: 12px;
  --radius-small: 16px;
  --radius-basic: 30px;
  --radius-main: 40px;
  --button-size: 24px;
  --button-size-big: 37px;
  --button-size-huge: 90px;
  --popup-size: 42px;
  --transition-main: all 0.3s ease-out;
  --shadow-basic: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
  --shadow-main: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  --shadow-main-hover: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  --shadow-middle: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  --shadow-button: 0 4px 4px 0 rgba(171, 118, 180, 0.16);
  --shadow-inset: 2px 0px 14px 1px rgba(0, 0, 0, 0.14) inset;
  --cl-main: rgb(101, 98, 115);
  --cl-contrast: rgb(255, 255, 255);
  --cl-transparent-contrast: rgba(255, 255, 255, 0.4);
  --cl-light: rgb(252, 251, 252);
  --cl-accent: rgb(171, 118, 180);
  --cl-dark: rgb(31, 31, 31);
  --cl-heavy-dark: rgb(40, 40, 40);
  --cl-neutral: rgb(106, 98, 115);
  --cl-disable: rgb(169, 169, 169);
  --cl-middle: rgba(242, 242, 250);
  --cl-neutral-accent: rgb(247, 244, 251);
  --cl-transparent-neutral: rgba(0, 0, 0, 0.06);
}

/* stylelint-disable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* stylelint-enable */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.title {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

p, span {
  overflow-wrap: break-word;
}

.text {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.input,
.input[type=text],
.input[type=password] {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.nobr {
  white-space: nowrap;
}

.ruble {
  position: relative;
}
.ruble::after {
  content: "₽";
  position: absolute;
  color: inherit;
  left: 0;
  top: 63%;
}

.content--lock {
  position: relative;
  overflow: hidden;
}
.content--lock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 90;
}

.body-lock {
  overflow-y: hidden;
}

.fancybox__container {
  --fancybox-bg: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-regular.woff2") format("woff2"), url("../../../../i/font/helvetica-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-medium.woff2") format("woff2"), url("../../../../i/font/helvetica-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-light.woff2") format("woff2"), url("../../../../i/font/helvetica-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-bold.woff2") format("woff2"), url("../../../../i/font/helvetica-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Natasha";
  src: url("../../../../i/font/natasha-regular.woff2") format("woff2"), url("../../../../i/font/natasha-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 320px;
  max-width: 1180px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0 38px;
  }
}

.container--full {
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container--full {
    padding: 0;
  }
}

.container__narrow {
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 768px) {
  .container__narrow {
    margin-right: -32px;
    margin-left: -32px;
  }
}

.container-inner {
  padding: 0 22px;
}

.button-main {
  padding: 8px 20px;
  display: block;
  width: fit-content;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: var(--fz-xmedium);
  line-height: var(--lh-small);
  letter-spacing: 0.02;
  font-weight: var(--fw-medium);
  background: var(--cl-contrast);
  box-shadow: var(--shadow-main);
  color: var(--cl-heavy-dark);
  border-radius: var(--radius-main);
  transition: var(--transition-main);
}
.button-main--active {
  background: var(--cl-heavy-dark);
  color: var(--cl-contrast);
}
.button-main--center {
  margin-right: auto;
  margin-left: auto;
}
.button-main:active {
  background: var(--cl-heavy-dark);
  color: var(--cl-contrast);
}
.button-main:hover {
  box-shadow: var(--shadow-main-hover);
}

.button-main.tns-nav-active {
  background: var(--cl-heavy-dark);
  color: var(--cl-contrast);
}

.button-simple {
  padding: 11px 24px;
  border-radius: 20px;
  display: block;
  width: fit-content;
  box-sizing: border-box;
  background: var(--cl-contrast);
  font-size: var(--fz-main);
  font-weight: var(--fw-regular);
  box-shadow: var(--shadow-main);
  transition: var(--transition-main);
}
.button-simple--active {
  background: var(--cl-heavy-dark);
  color: var(--cl-contrast);
}
.button-simple:hover {
  box-shadow: var(--shadow-main-hover);
}

.button-action {
  padding: 15px 35px;
  display: block;
  width: fit-content;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: var(--fz-medium);
  line-height: var(--lh-main);
  font-weight: 500;
  background: var(--cl-accent);
  color: var(--cl-contrast);
  border-radius: var(--radius-main);
  box-shadow: var(--shadow-button);
  transition: var(--transition-main);
}
@media (min-width: 768px) {
  .button-action {
    padding: 8px 39px;
  }
}
.button-action:hover {
  box-shadow: var(--shadow-main-hover);
}

.button-popup {
  width: fit-content;
  display: flex;
  position: relative;
}

.button-popup__button {
  padding: var(--indent-basic);
  width: var(--popup-size);
  height: var(--popup-size);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--cl-accent);
  border-radius: 50%;
}

.button-popup__icon {
  fill: var(--cl-contrast);
}
.button-popup__icon--time {
  transform: translate(3px, -2px);
}

.button-popup__modal {
  padding: 6px 12px;
  height: fit-content;
  background: var(--cl-accent);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 120%;
  align-items: center;
  border-radius: var(--radius-small);
  color: var(--cl-contrast);
  overflow: hidden;
  transition: all 0.2s ease-in;
  font-weight: var(--fw-regular);
  pointer-events: none;
  opacity: 0;
  font-size: 14px;
  line-height: 1.2;
  vertical-align: middle;
}

.button-round {
  padding: 11px;
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: var(--fw-medium);
  color: var(--cl-accent);
  background: var(--cl-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-middle);
  vertical-align: middle;
  line-height: 150%;
  transition: var(--transition-main);
}
.button-round--simple {
  color: var(--cl-disable);
  font-size: var(--fz-medium);
  font-weight: var(--fw-regular);
}
.button-round--big {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: var(--fw-medium);
}
@media (min-width: 768px) {
  .button-round--big {
    width: 90px;
    height: 90px;
    font-size: 26px;
    line-height: 100%;
    vertical-align: middle;
  }
}
.button-round--accent {
  background: var(--cl-accent);
  color: var(--cl-contrast);
}
.button-round--slider {
  background: var(--cl-transparent-contrast);
  box-shadow: none;
}
.button-round--slider svg {
  fill: var(--cl-contrast);
}
.button-round--slider-prev {
  transform: rotate(180deg);
}
.button-round:hover {
  box-shadow: var(--shadow-main-hover);
}

.button-round__icon {
  fill: var(--cl-accent);
  pointer-events: none;
}

.button-table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-table--prev {
  display: none;
  transform-origin: center center;
  transform: rotate(180deg);
}

.button-table__icon {
  fill: var(--cl-accent);
}

.button-modal {
  margin: -9px -4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 768px) {
  .button-modal {
    justify-content: flex-start;
    margin: -9px -17px;
  }
}

.button-modal__item {
  margin: 18px 4px;
  max-width: 320px;
  min-height: 98px;
  flex: 1 0 calc(50% - 8px);
}
.button-modal__item:nth-child(3n) {
  flex-grow: 0;
}
@media (min-width: 544px) {
  .button-modal__item {
    min-height: 130px;
  }
}
@media (min-width: 768px) {
  .button-modal__item {
    margin: 18px 17px;
    flex: 1 0 320px;
    width: 320px;
    min-height: 200px;
  }
}

.button-modal__container {
  box-sizing: border-box;
  background: var(--cl-contrast);
  box-shadow: var(--shadow-main);
  padding: 0 8px 15px;
  min-height: 100px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 768px) {
  .button-modal__content-block {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.button-modal__image-block {
  margin-bottom: 11px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .button-modal__image-block {
    margin-bottom: 38px;
  }
}

.button-modal__text-block {
  text-align: center;
}

.button-modal__icon {
  fill: var(--cl-dark);
}

.button-modal__action-block {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.button-modal__button {
  margin-top: 4px;
  margin-right: 4px;
  margin-left: auto;
}

.button-modal__modal {
  padding: 30px;
  width: 80%;
  max-width: 352px;
  border-radius: 20px;
  background: var(--cl-middle);
  display: none;
}

.button-modal__header {
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-modal__header .title-extra {
  width: 50%;
}

.input.field-main {
  padding: 12px 29px;
  box-shadow: var(--shadow-inset);
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}
.input.field-main::placeholder {
  color: var(--cl-disable);
  opacity: 0.5;
}
.input.field-main:focus-within {
  outline: none;
  border: 1px solid var(--cl-dark);
  box-sizing: border-box;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.breadcrubs__item {
  margin-right: 17px;
  font-size: var(--fz-main);
  position: relative;
  background: right 50%/12px 12px no-repeat url("../i/media/stat/icons/arrow-triangle.svg");
}
.breadcrubs__item:last-child {
  margin-right: 0;
  background: none;
}
.breadcrubs__item:last-child .breadcrubs__link {
  padding-right: 0;
}

.breadcrubs__link {
  padding-right: 28px;
  font-size: inherit;
  display: flex;
  align-items: center;
  color: var(--cl-disable);
}
.breadcrubs__link svg {
  fill: var(--cl-transparent-neutral);
}

.breadcrubs__item--current .breadcrubs__link {
  color: var(--cl-dark);
  font-weight: 400;
  cursor: default;
}

.title-major {
  width: fit-content;
  font-size: 32px;
  line-height: 130%;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .title-major {
    padding-right: 108px;
    position: relative;
    font-size: 52px;
  }
  .title-major::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCA0MiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4wOTE4IDBDMTQuNDA0MyAwIDE3LjM3NzkgMS40NTIxNSAxOS40MTAyIDMuNzU0ODhDMTcuOTY1OCA1LjgzNzg5IDE3LjExOTEgOC4zNjYyMSAxNy4xMTkxIDExLjA5MjhDMTcuMTE5MSAxMy44MTg0IDE3Ljk2NDggMTYuMzQ2NyAxOS40MDkyIDE4LjQyODdDMTcuMzc3IDIwLjczMTQgMTQuNDAzMyAyMi4xODI2IDExLjA5MTggMjIuMTgyNkM0Ljk2NTgyIDIyLjE4MjYgMCAxNy4yMTY4IDAgMTEuMDkxOEMwIDQuOTY1ODIgNC45NjU4MiAwIDExLjA5MTggMFpNMzAuOTA5MiAyMi4xODI2QzM3LjAzNDIgMjIuMTgyNiA0MiAxNy4yMTY4IDQyIDExLjA5MThDNDIgNC45NjU4MiAzNy4wMzQyIDAgMzAuOTA5MiAwQzI0Ljc4MzIgMCAxOS44MTc0IDQuOTY1ODIgMTkuODE3NCAxMS4wOTE4QzE5LjgxNzQgMTcuMjE2OCAyNC43ODMyIDIyLjE4MjYgMzAuOTA5MiAyMi4xODI2WiIgZmlsbD0iI0YzRjNGMyIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOm11bHRpcGx5Ii8+Cjwvc3ZnPgo=");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.title-main {
  font-size: 26px;
  line-height: 120%;
  font-weight: var(--fw-bold);
}
@media (min-width: 768px) {
  .title-main {
    font-size: 48px;
    line-height: 130%;
  }
}

.title-secondary {
  font-size: 22px;
  line-height: 140%;
  vertical-align: middle;
  font-weight: var(--fw-regular);
  color: var(--cl-accent);
}
.title-secondary--basic {
  font-size: 20px;
  color: var(--cl-dark);
  font-weight: var(--fw-regular);
}
@media (min-width: 768px) {
  .title-secondary {
    font-size: 28px;
  }
}

.title-extra {
  font-size: var(--fz-main);
  line-height: var(--lh-main);
  font-weight: var(--fw-medium);
}
.title-extra--accent {
  color: var(--cl-accent);
}

.title-extra-info {
  color: var(--cl-accent);
  font-weight: var(--fw-bold);
  font-size: 20px;
}
@media (min-width: 768px) {
  .title-extra-info {
    font-size: 22px;
  }
}

.title-simple {
  line-height: 1.2;
  font-size: 14px;
}
@media (min-width: 768px) {
  .title-simple {
    font-size: 16px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 160%;
  font-weight: var(--fw-regular);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

.text-main {
  margin-bottom: 32px;
}
.text-main:last-child {
  margin-bottom: 0;
}
.text-main--accent {
  color: var(--cl-accent);
}
.text-main--medium {
  font-weight: var(--fw-medium);
}
.text-main--strong {
  font-weight: var(--fw-bold);
}
.text-main--center {
  text-align: center;
}
.text-main--important {
  font-size: var(--fz-xmedium);
}
.text-main--del {
  font-weight: 300;
  color: var(--cl-disable);
  position: relative;
}
.text-main--del::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  background: var(--cl-disable);
}

.list-numeric {
  padding-left: var(--indent-main);
}

.list-numeric__item {
  padding-left: var(--indent-basic);
}

.list-standard {
  padding: 0;
  margin-bottom: 32px;
  list-style: none;
}
.list-standard li {
  padding-left: 20px;
  position: relative;
}
.list-standard li::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 10px;
  background: var(--cl-main);
}
.list-standard:last-child {
  margin-bottom: 0;
}

.link-main {
  color: var(--cl-accent);
}
.link-main--medium {
  font-weight: var(--fw-medium);
}

.image-block {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--cl-transparent-neutral);
}
.image-block img {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  object-fit: cover;
}

.image-pins-block {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.image-pins-block img {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  object-fit: cover;
}

.image-pins {
  min-width: 300px;
  max-width: 480px;
  position: relative;
}

.image-pins__item {
  position: absolute;
  z-index: 1;
}

.image-pins.image-pins--treadmill .image-pins__item:nth-child(1) {
  top: 12%;
  left: 10%;
}
.image-pins.image-pins--treadmill .image-pins__item:nth-child(2) {
  top: 32%;
  left: 35%;
}
.image-pins.image-pins--treadmill .image-pins__item:nth-child(3) {
  top: 70%;
  left: 35%;
}

.image-pins.image-pins--ellipsoid .image-pins__item:nth-child(1) {
  top: 12%;
  left: 15%;
}
.image-pins.image-pins--ellipsoid .image-pins__item:nth-child(2) {
  top: 58%;
  left: 28%;
}
.image-pins.image-pins--ellipsoid .image-pins__item:nth-child(3) {
  top: 35%;
  left: 28%;
}
.image-pins.image-pins--ellipsoid .image-pins__item:nth-child(4) {
  top: 80%;
  left: 28%;
}

.image-pins.image-pins--bike .image-pins__item:nth-child(1) {
  top: 8%;
  left: 18%;
}

.image-pins.image-pins--rowing .image-pins__item:nth-child(1) {
  top: 40%;
  left: 35%;
}

.image-pins.image-pins--armchair .image-pins__item:nth-child(1) {
  top: 10%;
  left: 25%;
}

.image-round {
  padding: 11px;
  width: var(--popup-size);
  height: var(--popup-size);
  box-sizing: border-box;
  background: var(--cl-accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-round__icon {
  width: 18px;
  height: auto;
  fill: var(--cl-contrast);
}

.paper {
  box-sizing: border-box;
  background: var(--cl-contrast);
  border-radius: var(--radius-main);
  box-shadow: var(--shadow-main);
}

.accordion {
  box-sizing: border-box;
  background: var(--cl-contrast);
  box-shadow: var(--shadow-main);
  border-radius: var(--radius-basic);
}

.accordion .ac-header {
  padding: 32px 22px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .accordion .ac-header {
    padding: 46px 44px;
  }
}

.accordion .ac.is-active > .ac-header {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .accordion .ac.is-active > .ac-header {
    margin-bottom: 7px;
  }
}

.accordion .ac.is-active > .ac-panel {
  padding-bottom: 46px;
}
@media (min-width: 768px) {
  .accordion .ac.is-active > .ac-panel {
    padding-bottom: 68px;
  }
}
.accordion .ac.is-active > .ac-panel--extra {
  padding-bottom: 10px;
}

.accordion-address {
  padding: 0 22px;
}
@media (min-width: 768px) {
  .accordion-address {
    padding: 0 44px;
  }
}

.accordion .ac-trigger {
  padding: 0 57px 0 0;
  color: inherit;
  font-family: "Helvetica", "Arial", sans-serif;
  position: relative;
}
.accordion .ac-trigger::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: center center/15px 8px no-repeat url("/i/media/stat/icons/simple-arrow.svg");
  width: var(--button-size-big);
  height: var(--button-size-big);
  border-radius: 50%;
  box-shadow: var(--shadow-middle);
  transition: var(--transition-main);
}

@media (min-width: 768px) {
  .accordion.accordion--adaptive .ac-trigger {
    pointer-events: none;
    cursor: default;
  }
}
@media (min-width: 768px) {
  .accordion.accordion--adaptive .ac-trigger::after {
    display: none;
  }
}

.accordion .ac.is-active > .ac-header .ac-trigger::after {
  content: "";
  transform-origin: center center;
  transform: translateY(-50%) rotate(180deg);
}

.accordion .ac {
  margin-top: 0;
  border: none;
  background: none;
}

.accordion__text-block {
  margin-bottom: 46px;
  padding: 0 22px;
}
.accordion__text-block:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .accordion__text-block {
    padding: 0 44px;
    margin-bottom: 59px;
  }
}

.accordion__schedule {
  padding: 0 22px;
  margin: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accordion__time-item {
  margin: 8px;
  padding: 25px 15px;
  flex: 0 0 calc(50% - 16px);
  width: calc(50% - 16px);
  box-sizing: border-box;
  background: var(--cl-neutral-accent);
  border-radius: var(--radius-xsmall);
  text-align: center;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .accordion__time-item {
    padding: 18px 5px;
  }
}

.accordion__extra-image {
  margin: 0 auto 38px;
}

.accordion__extra-title-block {
  margin-bottom: 46px;
}

.accordion__extra-text-block {
  margin-bottom: 46px;
}

.accordion__paper {
  padding: 38px 12px 46px;
  margin: 0 10px;
  box-sizing: border-box;
  background: var(--cl-contrast);
  border-radius: 20px;
  box-shadow: var(--shadow-main);
}
@media (min-width: 768px) {
  .accordion__paper {
    padding: 46px 26px 68px;
  }
}

.accordion.accordion--faq .title-secondary {
  font-size: 18px;
  color: var(--cl-dark);
  font-weight: var(--fw-bold);
}
@media (min-width: 768px) {
  .accordion.accordion--faq .title-secondary {
    font-size: 26px;
  }
}
.accordion.accordion--faq .ac-trigger::after {
  background: center center/15px 8px no-repeat url("/i/media/stat/icons/simple-arrow-neutral.svg");
}
.accordion.accordion--faq .ac-header {
  padding-left: 39px;
}
.accordion.accordion--faq .accordion__text-block {
  padding: 0 39px;
}

.slider-main__header {
  padding-bottom: 60px;
  margin-bottom: 38px;
  position: relative;
}
.slider-main__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 85px;
  background: var(--cl-dark);
}

.slider-main__title {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .slider-main__title {
    margin-bottom: 60px;
  }
}

.slider-main #slider-delivery-mw {
  overflow: visible;
}

.slider-main__intro-block {
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .slider-main__intro-block {
    margin: -46px -46px 54px;
    display: flex;
    justify-content: space-between;
  }
}

.slider-main__intro-item {
  margin-bottom: 32px;
}
.slider-main__intro-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .slider-main__intro-item {
    margin: 46px;
    max-width: 450px;
    flex: 0 0 calc(50% - 108px);
  }
}

.slider-main__table-block {
  margin-bottom: 50px;
}

.button-block {
  margin: -6px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .button-block {
    margin: -19px;
  }
}
.button-block .button-block__item {
  margin: 6px;
}
@media (min-width: 768px) {
  .button-block .button-block__item {
    margin: 19px;
  }
}

.table-main {
  width: 100%;
  border-collapse: collapse;
}
.table-main .table-main__cell {
  padding: 10px;
  font-weight: var(--fw-medium);
  vertical-align: top;
}
.table-main .table-main__cell:first-child {
  padding-left: 0;
}
.table-main .table-main__cell:last-child {
  padding-right: 0;
}
.table-main .table-main__cell--header {
  padding: 15px 10px;
  color: var(--cl-accent);
}
.table-main .table-main__cell--nomob {
  display: none;
}
@media (min-width: 768px) {
  .table-main .table-main__cell--nomob {
    display: block;
  }
}

.table-line {
  display: flex;
}
.table-line .table-line__header-column {
  margin-right: 25px;
  flex: 0 0 max-content;
}
.table-line .table-line__header-column .table-line__row {
  color: var(--cl-accent);
}
.table-line .table-line__row {
  padding: 18px 0;
  font-size: 14px;
  font-weight: var(--fw-bold);
}
@media (min-width: 768px) {
  .table-line .table-line__row {
    font-size: 18px;
  }
}
.table-line .table-line__row:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .columns {
    margin: -75px;
    display: flex;
    justify-content: space-between;
  }
}
.columns .columns__item {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .columns .columns__item {
    margin: 75px;
    flex: 0 1 calc(50% - 75px);
  }
}
.columns .columns__item:last-child {
  margin-bottom: 0;
}

.info-block .info-block__header {
  padding-bottom: 43px;
  margin-bottom: 22px;
  position: relative;
}
@media (min-width: 768px) {
  .info-block .info-block__header {
    padding-bottom: 55px;
    margin-bottom: 26px;
    max-width: 700px;
  }
}
.info-block .info-block__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 85px;
  background: var(--cl-dark);
}
.info-block .info-block__title {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .info-block .info-block__title {
    max-width: 50%;
    margin-bottom: 62px;
  }
}
.info-block .info-block__title:last-child {
  margin-bottom: 0;
}

.page-delivery #wmc {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: var(--fw-light);
  background: var(--cl-light);
}
@media (min-width: 768px) {
  .page-delivery #wmc {
    font-size: 18px;
  }
}

.page-delivery #wmc > .wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.page-delivery__main-nav {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .page-delivery__main-nav {
    margin-bottom: 35px;
  }
}

.page-delivery__main-nav .container {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .page-delivery__main-nav .container {
    padding-top: 24px;
  }
}

.page-delivery__cover {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .page-delivery__cover {
    margin-bottom: 20px;
  }
}

.page-delivery__navigation {
  margin-bottom: 68px;
}
@media (min-width: 768px) {
  .page-delivery__navigation {
    margin-bottom: 134px;
  }
}

.page-delivery__receiving {
  margin-bottom: 89px;
}

.page-delivery__receiving-type {
  margin-bottom: 52px;
}

.page-delivery__cost-delivery {
  margin-bottom: 60px;
}

.page-delivery__cost-lifting {
  margin-bottom: 46px;
}

.page-delivery__payment {
  margin-bottom: 60px;
}

.page-delivery__delivery-regions {
  margin-bottom: 53px;
}

.page-delivery__form-communicate {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .page-delivery__form-communicate {
    margin-bottom: 93px;
  }
}

.page-delivery__faq {
  margin-bottom: 22px;
}

.page-delivery__action {
  margin-bottom: 46px;
}

@media (min-width: 768px) {
  .cover__wrapper {
    display: grid;
    grid-template-rows: min-content 55px minmax(408px, auto) 55px;
    grid-template-columns: 50% 30% 20%;
  }
}

.cover__title-block {
  padding: 0 10px;
  margin-bottom: 46px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .cover__title-block {
    padding: 0 32px;
    margin-bottom: 12px;
    grid-row: 1/3;
    grid-column: 1/2;
  }
}

.cover__header {
  padding: 0 10px;
  margin-bottom: 19px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .cover__header {
    padding: 0 20px;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.cover__subtitle {
  max-width: 430px;
}

.cover__button {
  display: none;
}
@media (min-width: 768px) {
  .cover__button {
    flex: 0 0 fit-content;
    display: block;
  }
}
.cover__button--hidden {
  display: none;
}

.cover__content {
  padding: 30px 10px 12px;
  box-sizing: border-box;
  background: var(--cl-contrast);
  border-radius: 30px;
  box-shadow: var(--shadow-main);
}
@media (min-width: 768px) {
  .cover__content {
    padding: 27px 20px 20px;
    grid-row: 3/5;
    grid-column: 1/3;
    z-index: 1;
  }
}

.cover__image-block {
  height: 337px;
}
@media (min-width: 768px) {
  .cover__image-block {
    height: 337px;
  }
}

.cover__extra-image-block {
  display: none;
}
@media (min-width: 768px) {
  .cover__extra-image-block {
    display: block;
    align-items: center;
    height: 518px;
    grid-row: 2/5;
    grid-column: 2/4;
  }
}
@media (min-width: 768px) {
  .cover__extra-image-block img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

.receiving__title {
  padding-bottom: 60px;
  margin-bottom: 38px;
  position: relative;
}
@media (min-width: 768px) {
  .receiving__title {
    padding-bottom: 74px;
    margin-bottom: 0;
    max-width: 700px;
  }
}
.receiving__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 85px;
  background: var(--cl-dark);
}

.receiving__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .receiving__content {
    margin-top: 34px;
    margin-right: 60px;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }
}

.receiving__text-intro {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .receiving__text-intro {
    max-width: 450px;
    margin-bottom: 63px;
  }
}

.receiving__subtitle {
  margin-bottom: 32px;
}

.receiving__text {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .receiving__text {
    margin-bottom: 60px;
  }
}

.receiving__map-block {
  display: none;
}
@media (min-width: 768px) {
  .receiving__map-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 356px;
    height: 500px;
  }
}

.receiving-type__intro-block {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .receiving-type__intro-block {
    max-width: 460px;
  }
}

.receiving-type--center {
  margin-right: auto;
  margin-left: auto;
}

.receiving-type__info-image-block {
  margin-bottom: 26px;
}

.receiving-type__info-block {
  margin-bottom: 46px;
}
.receiving-type__info-block:last-child {
  margin-bottom: 0;
}

.receiving-type__main-slider {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .receiving-type__main-slider {
    margin-bottom: 100px;
  }
}

.receiving-type__action-block {
  margin: -7px -7px;
  display: flex;
  justify-content: end;
}
@media (min-width: 768px) {
  .receiving-type__action-block {
    display: none;
  }
}

.receiving-type__action-item {
  margin: 7px;
}

.receiving-type__map-block {
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  height: 386px;
}
.receiving-type__map-block img {
  display: block;
}

.receiving-type__extra-title {
  margin-bottom: 14px;
}

.receiving-type__pickup-slider-block {
  margin-bottom: 24px;
  position: relative;
}

.receiving-type__pickup-slider-buttons {
  padding: 0 17px;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  bottom: 23px;
}

@media (min-width: 768px) {
  .receiving-type__wrapper {
    display: flex;
    margin: -28px;
    align-items: end;
    background: center top/contain no-repeat url("/i/media/stat/delivery/receiving/bg-desk.png");
  }
}
@media (min-resolution: 2dppx) and (min-width: 768px) {
  .receiving-type__wrapper {
    background: center top/contain no-repeat url("/i/media/stat/delivery/receiving/bg-desk@2x.png");
  }
}

.receiving-type__col {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .receiving-type__col {
    margin: 28px;
    flex: 0 0 calc(50% - 56px);
  }
}

@media (min-width: 768px) {
  .receiving-type__pickup-wrapper {
    margin: -25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.ymaps-2-1-79-ground-pane {
  filter: grayscale(100%) !important;
}

.receiving-type__pickup-block {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .receiving-type__pickup-block {
    margin: 25px;
    width: calc(50% - 50px);
  }
}

.cost-lifting__header {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .cost-lifting__header {
    margin-bottom: 67px;
  }
}

.cost-lifting__title {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .cost-lifting__title {
    margin-bottom: 60px;
  }
}

.cost-lifting__intro-block {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .cost-lifting__intro-block {
    margin: -46px -46px 46px;
    display: flex;
    justify-content: space-between;
  }
}

.cost-lifting__intro-item {
  margin-bottom: 32px;
}
.cost-lifting__intro-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .cost-lifting__intro-item {
    margin: 46px;
    flex: 0 0 calc(50% - 92px);
    max-width: 450px;
  }
}

.cost-lifting__table {
  position: relative;
}

.cost-lifting__table-button-block {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.cost-delivery__title {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .cost-delivery__title {
    margin-bottom: 60px;
  }
}

.cost-delivery__button-block {
  margin: 0 -6px 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .cost-delivery__button-block {
    margin: 0 -6px 67px -16px;
  }
}

.cost-delivery__button-item {
  margin: 0;
}

.payment {
  position: relative;
}

.payment__content {
  box-sizing: border-box;
  background: var(--cl-contrast);
  box-shadow: var(--shadow-main);
  padding: 32px 22px 13px;
  margin-bottom: 54px;
  border-radius: 30px;
}

.payment.payment--open .button-modal__container,
.payment.payment--open .payment__title-extra {
  filter: blur(3px);
}
.payment.payment--open .payment__content {
  position: relative;
  overflow: hidden;
}
.payment.payment--open .payment__content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
  background: var(--cl-transparent-neutral);
}

.payment__variant-item {
  margin-bottom: 33px;
}
.payment__variant-item:last-child {
  margin-bottom: 0;
}

.payment__title {
  margin-bottom: 38px;
}

.payment__title-extra {
  margin-bottom: 17px;
}

.payment__extra-title {
  margin-bottom: 34px;
}

.payment__extra-info {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .payment__extra-info {
    margin: -46px -46px 0;
    display: flex;
  }
}

.payment__extra-item {
  margin-bottom: 23px;
}
.payment__extra-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .payment__extra-item {
    margin: 46px;
    flex: 0 0 calc(50% - 92px);
  }
}

.payment__alert {
  font-size: 12px;
  color: var(--cl-disable);
}
.payment__alert p {
  margin-bottom: 8px;
}
.payment__alert p:last-child {
  margin-bottom: 0;
}

.delivery-regions__title {
  margin-bottom: 42px;
}

.delivery-regions__title-form {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .delivery-regions__title-form {
    margin-bottom: 69px;
  }
}

.delivery-regions__list {
  margin: -5px -5px 12px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .delivery-regions__list {
    margin: -8px -8px 48px;
  }
}

.delivery-region__item {
  margin: 5px;
}
@media (min-width: 768px) {
  .delivery-region__item {
    margin: 8px;
  }
}

.form-communicate {
  display: none;
}
.form-communicate--open {
  margin-top: 60px;
  display: block;
}

.form-communicate__fieldset {
  margin: 0 auto 20px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form-communicate__fieldset {
    margin-bottom: 52px;
  }
}

@media (min-width: 768px) {
  .form-communicate__field {
    font-size: 16px;
  }
}

.form-communicate__label {
  margin-bottom: 10px;
}
.form-communicate__label:last-child {
  margin-bottom: 0;
}

.form-communicate__button {
  margin: 0 auto;
}

.form-communicate__intro-block {
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .form-communicate__intro-block {
    margin: -46px -46px 65px;
    display: flex;
  }
}

.form-communicate__intro__item {
  margin-bottom: 56px;
}
.form-communicate__intro__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-communicate__intro__item {
    margin: 46px;
    flex: 0 0 calc(50% - 92px);
  }
}

.message {
  box-sizing: border-box;
  background: var(--cl-contrast);
  box-shadow: var(--shadow-main);
  padding: 20px;
  width: 50%;
  min-width: 240px;
  max-width: 350px;
  border-radius: 20px;
  position: fixed;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.message__title {
  padding: 20px 0;
}

.message__close-button {
  position: absolute;
  top: 4px;
  right: 4px;
}

.message__text-block {
  margin-bottom: 46px;
}
.message__text-block:last-child {
  margin-bottom: 0;
}

.faq__title {
  margin-bottom: 38px;
}

.faq__item {
  margin-bottom: 12px;
}
.faq__item:last-child {
  margin-bottom: 0;
}

.action .container {
  display: flex;
}

.action__button {
  margin-left: auto;
}