@charset "UTF-8";
:root {
  --fz-small: 12px;
  --fz-medium: 16px;
  --fz-mediumx: 20px;
  --fz-big: 26px;
  --lh-main: 120%;
  --lh-big: 130%;
  --lh-huge: 170%;
  --indent-small: 4px;
  --indent-basic: 8px;
  --indent-main: 16px;
  --indent-big: 32px;
  --indent-huge: 64px;
  --indent-super: 128px;
  --radius-basic: 12px;
  --radius-main: 20px;
  --radius-big: 30px;
  --button-size: 24px;
  --button-size-big: 37px;
  --button-size-huge: 90px;
  --popup-size: 42px;
  --transition-main: all 0.3s ease-out;
  --shadow-main: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  --shadow-main-hover: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  --shadow-middle: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  --shadow-button: 0 4px 4px 0 rgba(171, 118, 180, 0.16);
  --shadow-inset: 2px 0px 14px 1px rgba(0, 0, 0, 0.14) inset;
  --cl-main: rgb(101, 98, 115);
  --cl-contrast: rgb(255, 255, 255);
  --cl-transparent-contrast: rgba(255, 255, 255, 0.3);
  --cl-light: rgb(252, 251, 252);
  --cl-accent: rgb(171, 118, 180);
  --cl-dark: rgb(31, 31, 31);
  --cl-heavy-dark: rgb(40, 40, 40);
  --cl-neutral: rgb(106, 98, 115);
  --cl-disable: rgb(169, 169, 169);
  --cl-neutral-accent: rgb(247, 244, 251);
  --cl-transparent-neutral: rgba(0, 0, 0, 0.06);
}
@media (min-width: 768px) {
  :root {
    --fz-main: 15px;
    --fz-medium: 18px;
    --fz-mediumx: 26px;
    --fz-big: 45px;
  }
}
@media (min-width: 1000px) {
  :root {
    --fz-main: 17px;
    --fz-medium: 18px;
    --fz-big: 45px;
  }
}

/* stylelint-disable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* stylelint-enable */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.title {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

p, span {
  overflow-wrap: break-word;
}

.text {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.input,
.input[type=text],
.input[type=password] {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.nobr {
  white-space: nowrap;
}

.ruble {
  position: relative;
}
.ruble::after {
  content: "₽";
  position: absolute;
  color: inherit;
  left: 0;
  top: 63%;
}

.content--lock {
  position: relative;
  overflow: hidden;
}
.content--lock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 90;
}

.body-lock {
  overflow-y: hidden;
}

.fancybox__container {
  --fancybox-bg: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-regular.woff2") format("woff2"), url("../../../../i/font/helvetica-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-medium.woff2") format("woff2"), url("../../../../i/font/helvetica-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-light.woff2") format("woff2"), url("../../../../i/font/helvetica-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../../../i/font/helvetica-bold.woff2") format("woff2"), url("../../../../i/font/helvetica-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Natasha";
  src: url("../../../../i/font/natasha-regular.woff2") format("woff2"), url("../../../../i/font/natasha-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 320px;
  max-width: 1180px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0 38px;
  }
}
.container--extra {
  padding: 0 34px;
}
@media (min-width: 768px) {
  .container--extra {
    padding: 0 50px;
  }
}

.container--full {
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container--full {
    padding: 0;
  }
}

.container__narrow {
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 768px) {
  .container__narrow {
    margin-right: -32px;
    margin-left: -32px;
  }
}

.container-inner {
  padding: 0 22px;
}

.button-accordion {
  padding: var(--indent-basic);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  transition: var(--transition-main);
}
.button-accordion svg {
  fill: var(--cl-accent);
}

.active-accordion {
  transform: rotate(0deg);
}

.button-basic {
  display: block;
  width: fit-content;
  padding: var(--indent-small) var(--indent-main);
  border: 1px solid var(--cl-accent);
  min-width: 90px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: var(--lh-main);
  color: var(--cl-accent);
  border-radius: var(--radius-basic);
  transition: var(--transition-main);
  text-align: center;
}
@media (min-width: 768px) {
  .button-basic {
    font-size: 18px;
  }
}
.button-basic:hover, .button-basic:active {
  color: var(--cl-contrast);
  background: var(--cl-accent);
  cursor: pointer;
}
.button-basic--accent {
  color: var(--cl-contrast);
  background: var(--cl-accent);
}
.button-basic--active {
  background: var(--cl-accent);
  color: var(--cl-contrast);
}

.button-basic.tns-nav-active {
  background: var(--cl-accent);
  color: var(--cl-contrast);
}

.button-link {
  display: block;
  width: fit-content;
  position: relative;
  transition: var(--transition-main);
  color: var(--cl-main);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .button-link {
    font-size: 15px;
  }
}
.button-link--center {
  margin: 0 auto;
}
.button-link--accent {
  color: var(--cl-accent);
}
.button-link--arrow {
  padding: 0 25px 0 0;
  vertical-align: middle;
}
.button-link--arrow::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04LjAwMDE5IDBDOC41NTI0OCAwIDkuMDAwMTkgMC40NDc3MTUgOS4wMDAxOSAxVjExLjA4NThMMTMuNjU3IDYuNDI4OTNDMTQuMDQ3NiA2LjAzODQxIDE0LjY4MDcgNi4wMzg0MSAxNS4wNzEzIDYuNDI4OTNDMTUuNDYxOCA2LjgxOTQ2IDE1LjQ2MTggNy40NTI2MiAxNS4wNzEzIDcuODQzMTVMOC43MDczIDE0LjIwNzFDOC4zMTY3NyAxNC41OTc2IDcuNjgzNjEgMTQuNTk3NiA3LjI5MzA4IDE0LjIwNzFMMC45MjkxMjQgNy44NDMxNUMwLjUzODU5OSA3LjQ1MjYyIDAuNTM4NTk5IDYuODE5NDYgMC45MjkxMjQgNi40Mjg5M0MxLjMxOTY1IDYuMDM4NDEgMS45NTI4MSA2LjAzODQxIDIuMzQzMzQgNi40Mjg5M0w3LjAwMDE5IDExLjA4NThWMUM3LjAwMDE5IDAuNDQ3NzE1IDcuNDQ3OTEgMCA4LjAwMDE5IDBaIiBmaWxsPSIjQUI3NkI0Ii8+Cjwvc3ZnPgo=");
  position: absolute;
  right: 0;
}
@media (min-width: 768px) {
  .button-link--arrow::after {
    top: 2px;
  }
}
.button-link:hover {
  opacity: 0.8;
}

.button-simple-slider {
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-simple-slider__icon {
  pointer-events: none;
  fill: var(--cl-accent);
}

.button-simple-slider--prev {
  transform: rotate(180deg);
}

.button-slider {
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cl-accent);
  border-radius: 50%;
  transition: var(--transition-main);
  background: var(--cl-contrast);
}
.button-slider svg {
  pointer-events: none;
}
.button-slider:hover {
  cursor: pointer;
  background: var(--cl-accent);
}
.button-slider:hover .button-slider__icon {
  fill: var(--cl-contrast);
}

.button-slider__icon {
  fill: var(--cl-accent);
}

.button-slider--prev .button-slider__icon {
  transform: rotate(180deg);
}

.button-slider--disable {
  display: none;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--cl-accent);
  border-radius: 50%;
  transition: var(--transition-main);
}
.button-social svg {
  width: 28px;
  height: auto;
  fill: var(--cl-contrast);
}
.button-social:hover {
  opacity: 0.8;
}

.button-social--connect svg {
  width: 22px;
}

.button-round {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cl-accent);
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--cl-accent);
  font-weight: 600;
  font-size: 10px;
}
@media (min-width: 768px) {
  .button-round {
    width: 38px;
    height: 38px;
    font-size: 14px;
  }
}
.button-round svg {
  width: 8px;
  height: 12px;
  fill: var(--cl-accent);
  pointer-events: none;
}
@media (min-width: 768px) {
  .button-round svg {
    width: 11px;
    height: 20px;
  }
}

.text-main {
  margin-bottom: var(--indent-main);
  font-size: 14px;
}
@media (min-width: 768px) {
  .text-main {
    font-size: 17px;
  }
}
.text-main:last-child {
  margin-bottom: 0;
}
.text-main--accent {
  color: var(--cl-accent);
}

.subtitle {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cl-main);
}
.subtitle--accent {
  color: var(--cl-accent);
}

.title-card {
  font-size: 16px;
  line-height: var(--lh-main);
  font-weight: 500;
}
@media (min-width: 768px) {
  .title-card {
    font-size: 18px;
  }
}

.title-icon {
  color: var(--cl-contrast);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

.title-icon__icon {
  margin-bottom: var(--indent-main);
  fill: var(--cl-contrast);
}

.title-main {
  margin: 0 auto;
  font-size: var(--fz-big);
  line-height: var(--lh-main);
  text-transform: uppercase;
  font-weight: 400;
}

.title-main__last {
  margin-left: var(--indent-big);
  color: var(--cl-accent);
}
@media (min-width: 768px) {
  .title-main__last {
    margin-left: 100px;
  }
}

.title-secondary {
  font-family: "Natasha", "Arial", sans-serif;
  font-size: var(--fz-main);
  line-height: var(--lh-main);
  font-weight: 700;
  text-transform: uppercase;
}
.title-secondary--accent {
  color: var(--cl-accent);
}

.title-secondary__line {
  margin-bottom: var(--indent-small);
  display: block;
}
.title-secondary__line:last-child {
  margin-bottom: 0;
}

.title-simple {
  text-transform: uppercase;
  font-weight: 800;
}

.title-simple--light {
  color: var(--cl-contrast);
}

.title-info {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--cl-accent);
  font-weight: 500;
  line-height: 150%;
}
@media (min-width: 768px) {
  .title-info {
    font-size: 17px;
  }
}

.link-main {
  color: var(--cl-accent);
  transition: var(--transition-main);
}
.link-main--bold {
  font-weight: 800;
}
.link-main:hover {
  opacity: 0.8;
}

.image-block {
  overflow: hidden;
  height: 100%;
  border-radius: var(--radius-main);
  background: rgba(0, 0, 0, 0.1);
}
.image-block img {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius-main);
}
.image-block video {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius-main);
}

.image-block.image-block--frame {
  position: relative;
}
.image-block.image-block--frame img {
  z-index: 1;
  height: auto;
  min-height: 100%;
}
.image-block.image-block--frame .image-block__frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-block.image-block--frame .image-block__frame svg {
  fill: var(--cl-contrast);
}
@media (min-width: 1000px) {
  .image-block.image-block--frame .image-block__frame svg {
    width: 350px;
    height: auto;
  }
}
.image-block.image-block--frame .image-block__text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -50%);
  font-family: "Natasha", "Arial", sans-serif;
  color: var(--cl-contrast);
}
@media (min-width: 768px) {
  .image-block.image-block--frame .image-block__text {
    font-size: var(--fz-medium);
  }
}

.image-block.image-block--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion .ac-trigger {
  font-family: "Helvetica", "Arial", sans-serif;
  padding: var(--indent-basic) var(--indent-big) var(--indent-basic) 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: inherit;
  position: relative;
}
@media (min-width: 768px) {
  .accordion .ac-trigger {
    font-size: 17px;
  }
}
.accordion .ac-trigger::after {
  content: "";
  position: absolute;
  background: center center/12px 12px no-repeat url("/i/media/stat/prof-trains/img/icons/simple-arrow.svg");
  right: 4px;
  width: var(--button-size);
  height: var(--button-size);
  top: 50%;
  transition: var(--transition-main);
  border-radius: 50%;
}
@media (min-width: 768px) {
  .accordion .ac-trigger::after {
    right: var(--indent-basic);
  }
}

.accordion .ac {
  border: none;
  background: none;
}

.accordion__number {
  padding-top: 2px;
  margin-right: var(--indent-basic);
  font-family: "Natasha", "Arial", sans-serif;
  vertical-align: middle;
}

.accordion__title {
  vertical-align: middle;
}

.accordion .ac.is-active > .ac-header .ac-trigger .accordion__number {
  color: var(--cl-accent);
}
@media (min-width: 768px) {
  .accordion .ac.is-active > .ac-header .ac-trigger .accordion__number {
    color: var(--cl-neutral);
  }
}
.accordion .ac.is-active > .ac-header .ac-trigger::after {
  content: "";
  background: center center/12px 12px no-repeat url("/i/media/stat/prof-trains/img/icons/simple-arrow.svg");
  transform-origin: center center;
  transform: translateY(-13px) rotate(180deg);
}

.accordion--decor.accordion .ac {
  margin-top: 0;
  border-top: 1px solid var(--cl-dark);
  border-radius: var(--radius-big) 0 0 0;
  box-sizing: border-box;
}

.accordion--decor.accordion .accordion__number-title {
  padding: var(--indent-main) var(--indent-big) var(--indent-main) var(--indent-main);
  display: flex;
  align-items: center;
}

.accordion .accordion__number-title {
  display: flex;
  align-items: center;
}

.accordion--decor.accordion .ac-trigger {
  position: relative;
}
.accordion--decor.accordion .ac-trigger::after {
  content: "";
  background: center/9px 9px no-repeat url("/i/media/stat/prof-trains/img/icons/double-arrow-up.svg");
  width: var(--button-size);
  height: var(--button-size);
  border: 1px solid var(--cl-accent);
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition-main);
  border-radius: 50%;
}

.accordion--decor.accordion .ac.is-active > .ac-header .ac-trigger {
  position: relative;
}
.accordion--decor.accordion .ac.is-active > .ac-header .ac-trigger::after {
  content: "";
  background: center/9px 9px no-repeat url("/i/media/stat/prof-trains/img/icons/double-arrow-up.svg");
  transform-origin: center center;
  transform: translateY(-13px) rotate(180deg);
}

.decorative-icon {
  fill: var(--cl-main);
}

.img-sticker {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-sticker__img-block {
  margin-top: 40px;
  margin-right: 40px;
  width: calc(100% - 40px);
  height: auto;
  overflow: hidden;
  border-radius: var(--radius-main);
}
.img-sticker__img-block img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.img-sticker__icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--cl-contrast);
}

.img-sticker--dark .img-sticker__img-block {
  margin-top: 40px;
  margin-left: 40px;
}
.img-sticker--dark .img-sticker__icon {
  left: 0;
  fill: var(--cl-dark);
  z-index: -1;
}

.img-sticker.img-sticker--desk .img-sticker__icon {
  display: none;
}
@media (min-width: 768px) {
  .img-sticker.img-sticker--desk .img-sticker__icon {
    width: 140px;
    right: 0;
    height: auto;
    display: block;
    fill: var(--cl-accent);
  }
}
.img-sticker.img-sticker--desk .img-sticker__img-block {
  margin-top: 0;
  margin-right: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .img-sticker.img-sticker--desk .img-sticker__img-block {
    margin-top: 40px;
    margin-right: 40px;
    width: calc(100% - 40px);
    box-sizing: border-box;
  }
}

.img-logo {
  min-height: 359px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .img-logo {
    display: flex;
    min-height: auto;
    align-items: center;
  }
}

.img-logo__image-block {
  width: 269px;
  height: 269px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .img-logo__image-block {
    margin-right: var(--indent-main);
    flex: 0 1 30%;
    height: 100%;
    box-sizing: border-box;
  }
}
.img-logo__image-block video {
  height: 100%;
  overflow: hidden;
}

.img-logo__sticker {
  padding: var(--indent-main) 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--cl-dark);
}
@media (min-width: 768px) {
  .img-logo__sticker {
    padding: 0;
    position: relative;
    flex: 1 1 70%;
    background: none;
  }
}
.img-logo__sticker svg {
  fill: var(--cl-contrast);
}
@media (min-width: 768px) {
  .img-logo__sticker svg {
    width: 100%;
    height: auto;
  }
}

.img-round-sticker {
  padding-top: 45px;
  width: 113px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .img-round-sticker {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
}

.img-round-sticker__image-block {
  width: 100%;
  height: 113px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .img-round-sticker__image-block {
    flex: 0 1 113px;
  }
}
.img-round-sticker__image-block video {
  height: 100%;
}

.img-round-sticker__sticker {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .img-round-sticker__sticker {
    margin-left: -50px;
    width: auto;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .img-round-sticker__sticker svg {
    width: auto;
    height: 100%;
  }
}

.img-cover {
  position: relative;
}

.img-cover__image img {
  height: 100%;
}

.img-cover__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.model {
  padding: var(--indent-basic) var(--indent-main);
  border: 1px solid var(--cl-dark);
  width: fit-content;
  border-radius: var(--radius-main);
  text-transform: uppercase;
}

.model__type {
  color: var(--cl-accent);
}

.slider-projects-pagination {
  margin-left: auto;
  position: relative;
  width: fit-content;
}

.slider-projects-pagination__index {
  width: fit-content;
  height: var(--button-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Natasha", "Arial", sans-serif;
  font-size: var(--fz-small);
}

.slider-projects-pagination__item {
  margin-right: var(--indent-main);
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(2px);
}
.slider-projects-pagination__item--current {
  font-size: var(--fz-main);
  color: var(--cl-accent);
}
.slider-projects-pagination__item:last-child {
  margin-right: 0;
}

.slider-projects-pagination__buttons {
  width: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.price {
  color: var(--cl-accent);
  width: fit-content;
  font-size: 14px;
}
@media (min-width: 768px) {
  .price {
    font-size: 17px;
  }
}
.price--old {
  font-size: 12px;
  position: relative;
}
.price--old::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background: var(--cl-accent);
}

.buttons-block {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent-basic));
}
@media (min-width: 768px) {
  .buttons-block {
    justify-content: flex-end;
  }
}

.buttons-block__item {
  margin: var(--indent-basic);
}

.slider-with-button {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-with-button__item {
  z-index: 1;
  box-sizing: border-box;
}

.slider-with-button__buttons {
  width: 100%;
  height: var(--button-size);
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-with-button__text-block {
  padding-right: var(--indent-big);
  margin-bottom: var(--indent-main);
  min-height: 100px;
}
@media (min-width: 768px) {
  .slider-with-button__text-block {
    padding-right: 0;
  }
}

.slider-with-button__decoration {
  margin-bottom: var(--indent-main);
}

.slider-with-button__button--next {
  margin-left: auto;
}

.slider-with-button--image .slider-with-button__buttons {
  top: auto;
  bottom: 15%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .slider-with-button.slider-with-button--simple .slider-with-button__buttons {
    display: none;
  }
}
@media (min-width: 768px) {
  .slider-with-button.slider-with-button--simple .slider-with-button__slider {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .slider-with-button.slider-with-button--simple .slider-with-button__item {
    margin-right: var(--indent-big);
    flex: 0 0 calc(50% - var(--indent-big));
    display: flex;
    flex-direction: column;
  }
  .slider-with-button.slider-with-button--simple .slider-with-button__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .slider-with-button.slider-with-button--simple .slider-with-button__text-block {
    flex: 1 1 auto;
  }
}

@media (min-width: 768px) {
  .slider-with-button.slider-with-button--nobutton-desk .slider-with-button__buttons {
    display: none;
  }
}

@media (min-width: 768px) {
  .slider-with-button__slider--desk {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .info-slider {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 230px 1fr;
    column-gap: var(--indent-huge);
    row-gap: var(--indent-main);
  }
}

.info-slider__cover {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .info-slider__cover {
    margin-bottom: 0;
    height: 100%;
    flex: 0 0 230px;
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.info-slider__image-block {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .info-slider__image-block {
    height: auto;
    grid-row: 1/3;
    grid-column: 1/2;
  }
}

.info-slider__text-block {
  padding-right: calc(var(--button-size) + var(--indent-main));
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .info-slider__text-block {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .info-slider__slider {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.info-slider__head-block {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .info-slider__head-block {
    margin-bottom: 0;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.info-slider__content {
  position: relative;
}
@media (min-width: 768px) {
  .info-slider__content {
    padding-right: 0;
    flex: 1 1 auto;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
  }
}

@media (min-width: 768px) {
  .info-slider__item {
    margin-right: var(--indent-big);
    flex: 0 0 calc(50% - var(--indent-big));
    min-height: 100%;
  }
  .info-slider__item:nth-child(2n) {
    margin-right: 0;
  }
}

.info-slider__wrapper {
  min-height: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-slider__buttons {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  transform: translateY(calc(-50% - 30px));
}
@media (min-width: 768px) {
  .info-slider__buttons {
    display: none;
  }
}

.info-slider .button-slider--next {
  margin-right: var(--indent-basic);
  margin-left: auto;
}

.info-slider__footer {
  min-height: 30px;
}

@media (min-width: 768px) {
  .info-slider.info-slider--header-in .info-slider__head-block {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .info-slider.info-slider--text-cover {
    grid-template-columns: calc(33% - var(--indent-big)) 1fr;
  }
}
@media (min-width: 768px) {
  .info-slider.info-slider--text-cover .info-slider__subtitle-block {
    margin-top: 40px;
  }
}
.info-slider.info-slider--text-cover .title-secondary {
  margin-bottom: var(--indent-main);
}
.info-slider.info-slider--text-cover .title-secondary:last-child {
  margin-bottom: 0;
}

.page-prof-trainers #wmc {
  font-family: "Helvetica", "Arial", sans-serif;
  background: var(--cl-contrast);
  font-size: 14px;
  line-height: var(--lh-main);
  font-weight: 300;
}
@media (min-width: 768px) {
  .page-prof-trainers #wmc {
    font-size: 17px;
  }
}

.page-prof-trainers #wmc > .wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.page-prof-trainers__intro {
  margin-top: var(--indent-main);
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .page-prof-trainers__intro {
    margin-top: var(--indent-big);
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__best {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .page-prof-trainers__best {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__questions {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .page-prof-trainers__questions {
    margin-bottom: 68px;
  }
}

.page-prof-trainers__why {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .page-prof-trainers__why {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__projects {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .page-prof-trainers__projects {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__projects-detail {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .page-prof-trainers__projects-detail {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__garantee {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .page-prof-trainers__garantee {
    margin-bottom: 68px;
  }
}

.page-prof-trainers__trainers {
  margin-bottom: var(--indent-big);
}

.wrapper--prof-trainers {
  padding: 0;
  min-width: 320px;
  max-width: 1180px;
}

.section {
  color: var(--cl-main);
}
.section--dark {
  color: var(--cl-contrast);
}

.section.section--dark .button-slider {
  background: var(--cl-dark);
}
.section.section--dark .button-slider:hover {
  background: var(--cl-accent);
}

.intro__cover {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .intro__cover {
    margin-bottom: var(--indent-big);
  }
}

.intro .intro__buttons-block {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .intro .intro__buttons-block {
    margin-bottom: var(--indent-huge);
  }
}

@media (min-width: 768px) {
  .intro__slider-wrapper {
    position: relative;
  }
}

.intro__control-buttons {
  display: none;
}
@media (min-width: 768px) {
  .intro__control-buttons {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }
}

.intro__advantage {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .intro__advantage {
    margin-bottom: 0;
  }
}

.intro__decoration {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .intro__decoration {
    margin-bottom: var(--indent-big);
  }
}

@media (min-width: 768px) {
  .intro-list .intro-list__button {
    pointer-events: none;
  }
  .intro-list .intro-list__button::after {
    display: none;
  }
}

@media (min-width: 768px) {
  .slider-intro__item {
    margin-bottom: var(--indent-big);
  }
}

@media (min-width: 768px) {
  .slider-intro__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.slider-intro__title {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .slider-intro__title {
    padding-right: var(--indent-big);
    padding-left: var(--indent-big);
    margin-bottom: var(--indent-huge);
  }
}

.slider-intro__cover {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-intro__cover {
    margin-bottom: var(--indent-huge);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--indent-big);
    align-items: start;
  }
}

.slider-intro__title-block {
  margin-bottom: var(--indent-big);
}
@media (min-width: 768px) {
  .slider-intro__title-block {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.slider-intro__text-block {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-intro__text-block {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.slider-intro__text {
  margin-bottom: var(--indent-main);
}
.slider-intro__text:last-child {
  margin-bottom: 0;
}

.slider-intro__title-secondary {
  margin-bottom: var(--indent-main);
}
.slider-intro__title-secondary .title-secondary__line {
  margin-bottom: var(--indent-main);
}
.slider-intro__title-secondary:last-child {
  margin-bottom: 0;
}

.slider-intro__decoration {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-intro__decoration {
    display: none;
  }
}

@media (min-width: 768px) {
  .slider-best__content {
    margin-bottom: var(--indent-big);
    display: flex;
  }
}

@media (min-width: 768px) {
  .slider-best__cover {
    margin-right: var(--indent-huge);
    min-width: 230px;
  }
}

.slider-best__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .slider-best__title-block {
    padding-right: var(--indent-big);
    padding-left: var(--indent-big);
    margin-bottom: var(--indent-huge);
  }
}

.slider-best__subtitle {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-best__subtitle {
    margin-bottom: var(--indent-big);
  }
}

.slider-best__decoration {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-best__decoration {
    margin-bottom: var(--indent-big);
  }
}

.slider-best__image-block {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-best__image-block {
    margin-bottom: 0;
    height: auto;
  }
}

.slider-best__accordion {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-best__accordion {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .slider-best__communicate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.slider-best__button-wrapper {
  margin: 0 auto var(--indent-big);
  width: fit-content;
}
.slider-best__button-wrapper:first-child {
  display: none;
}
@media (min-width: 768px) {
  .slider-best__button-wrapper:first-child {
    display: block;
  }
}
@media (min-width: 768px) {
  .slider-best__button-wrapper {
    margin: 0;
    width: 100%;
    flex: 0 0 calc(50% - var(--indent-main));
  }
}

.slider-best__calc-button {
  display: none;
}
@media (min-width: 768px) {
  .slider-best__calc-button {
    display: block;
  }
}

.slider-best__button {
  margin: 0 auto var(--indent-main);
}
@media (min-width: 768px) {
  .slider-best__button {
    margin: 0;
  }
}

.contact__text-block {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .contact__text-block {
    margin-bottom: var(--indent-big);
    text-align: center;
  }
}

.contact__button {
  display: none;
}
@media (min-width: 768px) {
  .contact__button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.about {
  background: var(--cl-dark);
  border-radius: var(--radius-main) var(--radius-main) 0 0;
}

.about .container {
  padding-top: calc(var(--indent-big));
  padding-bottom: calc(2 * var(--indent-big));
}
@media (min-width: 768px) {
  .about .container {
    padding-top: var(--indent-huge);
  }
}

.about__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .about__title-block {
    margin-bottom: var(--indent-huge);
  }
}

.about__buttons-block {
  margin-bottom: var(--indent-main);
}

.about__advantages {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .about__advantages {
    margin-bottom: var(--indent-big);
  }
}

.about__decoration {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .about__decoration {
    display: none;
  }
}

.contact-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.contact-block__social-block {
  margin: calc(-1 * var(--indent-basic));
  display: flex;
  flex-wrap: wrap;
}
.contact-block__social-block li {
  margin: var(--indent-basic);
}

.best__header {
  margin-bottom: var(--indent-big);
  background: var(--cl-dark);
  border-radius: 0 0 var(--radius-main) var(--radius-main);
}
@media (min-width: 768px) {
  .best__header {
    margin-bottom: var(--indent-huge);
  }
}
.best__header .container {
  padding-bottom: var(--indent-main);
}

.best__decoration-block {
  display: flex;
  justify-content: space-between;
}

.best__cover {
  margin: var(--indent-main) auto;
  width: 280px;
  min-height: 430px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 768px) {
  .best__cover {
    display: flex;
    width: 100%;
    min-height: auto;
  }
}

@media (min-width: 768px) {
  .best__main-cover {
    margin-right: var(--indent-main);
    flex: 0 0 70%;
    box-sizing: border-box;
  }
}

.best__extra-cover {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .best__extra-cover {
    position: relative;
    width: 100%;
    min-height: 100%;
  }
}

.best__slider-wrapper {
  position: relative;
}

.best__control-buttons {
  display: none;
}
@media (min-width: 768px) {
  .best__control-buttons {
    position: absolute;
    width: 100%;
    top: 45px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }
}

.best__decoration {
  margin-bottom: var(--indent-main);
}

.questions__title {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .questions__title {
    margin-bottom: var(--indent-huge);
  }
}

.questions-block__explanation {
  margin-bottom: var(--indent-main);
}

.questions-block__image-in {
  height: 116px;
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .questions-block__image-in {
    display: none;
  }
}

@media (min-width: 768px) {
  .questions-block__item {
    padding-top: var(--indent-basic);
    padding-bottom: var(--indent-basic);
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr 30%;
    column-gap: var(--indent-main);
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .questions-block__header {
    margin-bottom: 0;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
  }
}

.questions-block__panel {
  padding: 0 var(--indent-main);
}
@media (min-width: 768px) {
  .questions-block__panel {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.questions-block__image-out {
  display: none;
}
@media (min-width: 768px) {
  .questions-block__image-out {
    position: absolute;
    right: 0;
    width: 100%;
    display: block;
    height: 100%;
    max-height: 200px;
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .questions-block__image-out img {
    height: 100%;
  }
}

.slider-questions__title {
  margin-bottom: var(--indent-main);
}

.slider-why {
  position: relative;
}
.slider-why::before {
  content: "";
  position: absolute;
  height: 310px;
  top: 20px;
  left: -20px;
  right: -20px;
  background: var(--cl-dark);
  border-radius: var(--radius-main);
}
@media (min-width: 768px) {
  .slider-why::before {
    height: 360px;
  }
}
@media (min-width: 1000px) {
  .slider-why::before {
    height: 460px;
  }
}
@media (min-width: 768px) {
  .slider-why {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .slider-why__item {
    margin-right: var(--indent-main);
    margin-left: var(--indent-main);
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
  }
}

.slider-why__image-block {
  margin-bottom: var(--indent-main);
  position: relative;
  height: 350px;
}
@media (min-width: 768px) {
  .slider-why__image-block {
    margin-bottom: var(--indent-big);
    height: 400px;
  }
  .slider-why__image-block img {
    height: 100%;
  }
}
@media (min-width: 1000px) {
  .slider-why__image-block {
    height: 500px;
  }
}

.slider-why__sticker {
  fill: var(--cl-contrast);
  position: absolute;
  left: var(--indent-big);
  bottom: var(--indent-big);
}

.slider-why__title-block {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .slider-why__title-block {
    margin-bottom: var(--indent-big);
  }
}

.slider-why__text-block {
  margin-bottom: var(--indent-main);
  flex: 1 1 auto;
}

.slider-why__decoration {
  margin-bottom: 0;
}

.why__title {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .why__title {
    margin-bottom: var(--indent-huge);
  }
}

.projects__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .projects__title-block {
    margin-bottom: var(--indent-huge);
    position: relative;
  }
}

.projects__logo {
  display: none;
}
@media (min-width: 768px) {
  .projects__logo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-40%);
  }
}
@media (min-width: 1000px) {
  .projects__logo {
    width: 250px;
    height: auto;
  }
}

.projects__image-block {
  margin-bottom: var(--indent-big);
}

.projects__decoration {
  margin-bottom: var(--indent-big);
  fill: var(--cl-dark);
}
@media (min-width: 768px) {
  .projects__decoration {
    display: none;
  }
}

.projects-detail__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .projects-detail__title-block {
    margin-bottom: var(--indent-huge);
  }
}

.projects-detail__video-block {
  height: 500px;
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .projects-detail__video-block {
    display: none;
  }
}

.projects-detail__video-block-desk {
  display: none;
}
@media (min-width: 768px) {
  .projects-detail__video-block-desk {
    margin-right: var(--indent-big);
    display: flex;
    height: 389px;
    flex: 0 0 30%;
  }
  .projects-detail__video-block-desk video {
    height: inherit;
  }
}

@media (min-width: 768px) {
  .projects-detail__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.projects-detail__projects {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .projects-detail__projects {
    margin-bottom: 0;
    width: calc(70% - var(--indent-big));
  }
}

.slider-projects__pagination {
  margin-bottom: var(--indent-main);
}

.project-full__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .project-full__content {
    min-height: 410px;
  }
}

.project-full__title {
  margin-bottom: var(--indent-main);
}

.project-full__accordion {
  margin-bottom: 32px;
}

.project-full__links {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-full__nav {
  margin: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .project-full__nav {
    margin: 0 -4px;
  }
}
.project-full__nav a {
  margin: 4px;
}
@media (min-width: 768px) {
  .project-full__nav a {
    margin: 4px 8px;
  }
}

.project-full__download {
  margin: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .project-full__download {
    margin: 0 12px;
  }
}
.project-full__download a {
  display: block;
  margin: 4px;
}
@media (min-width: 768px) {
  .project-full__download a {
    margin: 4px 16px;
  }
}

.project-content {
  padding: var(--indent-main);
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .project-content {
    margin: calc(-1 * var(--indent-basic));
    display: flex;
    flex-wrap: wrap;
  }
}

.project-content__item {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .project-content__item {
    margin: var(--indent-basic);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }
}
.project-content__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .project-content__item:last-child {
    margin-bottom: var(--indent-basic);
  }
}

.project-content__model {
  display: block;
  width: fit-content;
  font-size: 14px;
}
@media (min-width: 768px) {
  .project-content__model {
    margin-top: auto;
    font-size: 17px;
  }
}

.project-content__type {
  margin-bottom: var(--indent-basic);
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 768px) {
  .project-content__type {
    font-size: 17px;
  }
}

.trainers__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .trainers__title-block {
    margin-bottom: var(--indent-huge);
  }
}

.products-gallery__item {
  margin-bottom: var(--indent-big);
}
.products-gallery__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .product-gallery-set {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 30% 70%;
    position: relative;
  }
}

.product-gallery-set__title {
  margin-bottom: var(--indent-main);
}

.product-gallery-set__cover {
  display: none;
}
@media (min-width: 768px) {
  .product-gallery-set__cover {
    display: block;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

@media (min-width: 768px) {
  .product-gallery-set__content {
    margin-left: var(--indent-basic);
    position: relative;
    max-width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.product-card {
  min-height: 100%;
}
@media (min-width: 768px) {
  .product-card {
    min-height: 485px;
  }
}

@media (min-width: 768px) {
  .product-card__wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;
  }
}

.product-card__image-block {
  margin-right: auto;
  margin-bottom: var(--indent-main);
  margin-left: auto;
  max-width: 300px;
  width: 100%;
  height: 260px;
}
.product-card__image-block img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.product-card__content {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .product-card__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.product-card__extra-name {
  margin-bottom: var(--indent-basic);
  font-size: 14px;
}
@media (min-width: 768px) {
  .product-card__extra-name {
    font-size: 17px;
  }
}

.product-card__price-block {
  margin-left: auto;
}

.product-card__button {
  margin-left: auto;
}

.price-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
}

.price-block__old {
  margin-right: var(--indent-main);
}

.decoration-block {
  display: none;
}
@media (min-width: 768px) {
  .decoration-block {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .decoration-block__item {
    flex: 0 0 calc(33.3333333333% - var(--indent-big));
    margin-right: var(--indent-big);
  }
  .decoration-block__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .decoration-block.decoration-block--two .decoration-block__item {
    flex: 0 0 calc(50% - var(--indent-big));
    margin-right: var(--indent-big);
  }
  .decoration-block.decoration-block--two .decoration-block__item:nth-child(3n) {
    margin-right: var(--indent-big);
  }
  .decoration-block.decoration-block--two .decoration-block__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .decoration-block.decoration-block--dark svg {
    fill: var(--cl-main);
  }
}

@media (min-width: 768px) {
  .about-advantages {
    display: flex;
  }
}

.about-advantages__image-block {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .about-advantages__image-block {
    margin-right: var(--indent-big);
    margin-bottom: 0;
    flex: 0 0 270px;
  }
}

.about-advantages__description {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .about-advantages__description {
    padding-top: 40px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .slider-mob-order {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .slider-mob-order__buttons {
    display: none;
  }
}

.garantee__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .garantee__title-block {
    margin-bottom: var(--indent-huge);
  }
}

.garantee__image-block {
  margin-bottom: var(--indent-main);
}
@media (min-width: 768px) {
  .garantee__image-block {
    margin-bottom: var(--indent-big);
  }
}

.garantee__decoration {
  margin-left: auto;
  margin-bottom: var(--indent-main);
  width: 70%;
}

@media (min-width: 768px) {
  .garantee__content {
    margin-bottom: var(--indent-huge);
  }
}

.garantee__footer {
  margin-left: auto;
  width: 70%;
}

.garantee__br {
  display: none;
}
@media (min-width: 768px) {
  .garantee__br {
    display: block;
  }
}

@media (min-width: 768px) {
  .garantee-list__item {
    display: flex;
    margin-bottom: var(--indent-big);
  }
  .garantee-list__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .garantee-list__header {
    flex: 0 0 30%;
  }
}

@media (min-width: 768px) {
  .garantee-list .garantee-list__button {
    font-family: "Natasha", "Arial", sans-serif;
    pointer-events: none;
  }
  .garantee-list .garantee-list__button::after {
    display: none;
  }
}

.garantee-panel {
  display: none;
}
@media (min-width: 768px) {
  .garantee-panel {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .garantee-panel__item {
    margin-right: var(--indent-main);
    flex: 0 0 calc(50% - var(--indent-main));
  }
  .garantee-panel__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .garantee-content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .garantee-content__item {
    margin-right: var(--indent-big);
    margin-bottom: var(--indent-main);
    width: calc(50% - var(--indent-main));
  }
  .garantee-content__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .advantages__item {
    margin-right: var(--indent-big);
    margin-bottom: var(--indent-big);
    width: calc(50% - var(--indent-big));
  }
  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .advantages .ac-trigger {
    pointer-events: none;
  }
  .advantages .ac-trigger::after {
    display: none;
  }
}

@media (min-width: 768px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .columns__item {
    margin-right: var(--indent-big);
    margin-bottom: var(--indent-big);
    flex: 0 0 calc(33% - var(--indent-big));
  }
  .columns__item:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .columns.columns--two .columns__item {
    margin-right: var(--indent-main);
    width: calc(50% - var(--indent-main));
  }
  .columns.columns--two .columns__item:nth-of-type(3n) {
    margin-right: var(--indent-main);
  }
  .columns.columns--two .columns__item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1000px) {
  .columns.columns--two .columns__item {
    margin-right: var(--indent-big);
    width: calc(50% - var(--indent-big));
  }
}