.button-basic {
  display: block;
  width: fit-content;
  padding: var(--indent-small) var(--indent-main);
  border: 1px solid var(--cl-accent);
  min-width: 90px;
  box-sizing: border-box;
  font-size: var(--fz-medium);
  line-height: var(--lh-medium);
  color: var(--cl-accent);
  border-radius: var(--radius-basic);
  transition: var(--transition-main);
  text-align: center;

  &:hover, &:active{
    color: var(--cl-contrast);
    background: var(--cl-accent);
    cursor: pointer;
  }

  &--accent {
    color: var(--cl-contrast);
    background: var(--cl-accent);
  }

  &--active {
    background: var(--cl-accent);
    color: var(--cl-contrast);
  }
}

.button-basic.tns-nav-active{
  background: var(--cl-accent);
  color: var(--cl-contrast);
}


