.buttons-block {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1*var(--indent-basic));

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.buttons-block__item {
  margin: var(--indent-basic);
}
