.contact-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.contact-block__social-block {
  margin: calc(-1 * var(--indent-basic));
  display: flex;
  flex-wrap: wrap;

  li {
    margin: var(--indent-basic);
  }
}
