.decoration-block {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.decoration-block__item {
  @media (min-width: $tablet-width) {
    flex: 0 0 calc(100% / 3 - var(--indent-big));
    margin-right: var(--indent-big);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.decoration-block.decoration-block--two {
  .decoration-block__item {
    @media (min-width: $tablet-width) {
      flex: 0 0 calc(50% - var(--indent-big));
      margin-right: var(--indent-big);

      &:nth-child(3n) {
        margin-right: var(--indent-big);
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.decoration-block--narrow.decoration-block {
  .decoration-block__item {
    @media (min-width: $tablet-width) {
      flex: 0 0 33%;
      margin-right: 0 !important;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.decoration-block.decoration-block--dark {
  svg {
    @media (min-width: $tablet-width) {
      fill: var(--cl-main);
    }
  }
}
