.garantee-content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.garantee-content__item {
  @media (min-width: $tablet-width) {
    margin-right: var(--indent-big);
    margin-bottom: var(--indent-main);
    width: calc(50% - var(--indent-main));

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
