.image-block {
  overflow: hidden;
  height: 100%;
  border-radius: var(--radius-main);
  background: rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--radius-main);
  }

  video {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--radius-main);
  }
}


.image-block.image-block--frame {
  position: relative;

  img {
    z-index: 1;
    height: auto;
    min-height: 100%;
  }

  .image-block__frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-block__frame svg {
    fill: var(--cl-contrast);

    @media (min-width: $desktop-width) {
      width: 350px;
      height: auto;
    }
  }

  .image-block__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%, -50%);
    font-family: "Natasha", "Arial", sans-serif;
    color: var(--cl-contrast);

    @media (min-width: $tablet-width) {
      font-size: var(--fz-medium);
    }
  }
}

.image-block.image-block--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
