.img-sticker {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-sticker__img-block {
  margin-top: 40px;
  margin-right: 40px;
  width: calc(100% - 40px);
  height: auto;
  overflow: hidden;
  border-radius: var(--radius-main);

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.img-sticker__icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--cl-contrast);
}

.img-sticker--dark {
  .img-sticker__img-block {
    margin-top: 40px;
    margin-left: 40px;
  }

  .img-sticker__icon {
    left: 0;
    fill: var(--cl-dark);
    z-index: -1;
  }
}

.img-sticker.img-sticker--desk{
  .img-sticker__icon {
    display: none;

    @media (min-width: $tablet-width) {
      width: 140px;
      right: 0;

      height: auto;
      display: block;
      fill: var(--cl-accent);
    }
  }
  .img-sticker__img-block {
    margin-top: 0;
    margin-right: 0;
    width: 100%;

    @media (min-width: $tablet-width) {
      margin-top: 40px;
      margin-right: 40px;
      width: calc(100% - 40px);
      box-sizing: border-box;

    }
  }


}
