.model {
  padding: var(--indent-basic) var(--indent-main);
  border: 1px solid var(--cl-dark);
  width: fit-content;
  border-radius: var(--radius-main);
  text-transform: uppercase;
}

.model__type {
  color: var(--cl-accent);
}
