.page-prof-trainers {
  #wmc {
    font-family: 'Helvetica', Arial, sans-serif;
    background: var(--cl-contrast);
    font-size: var(--fz-main);
    line-height: var(--lh-main);
    font-weight: 300;
  }
}

.page-prof-trainers #wmc>.wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.page-prof-trainers__intro {
  margin-top: var(--indent-main);
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-top: var(--indent-big);
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__best {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__questions {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-bottom: 68px;
  }
}

.page-prof-trainers__why {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__projects {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__projects-detail {
  margin-bottom: var(--indent-big);


  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.page-prof-trainers__garantee {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-bottom: 68px;
  }
}

.page-prof-trainers__trainers {
  margin-bottom: var(--indent-big);
}
