.section {
  color: var(--cl-main);

  &--dark {
    color: var(--cl-contrast);
  }
}

.section.section--dark {
  .button-slider {
    background: var(--cl-dark);

    &:hover{
      background: var(--cl-accent);
    }
  }
}
