.title-main {
  margin: 0 auto;
  font-size: var(--fz-big);
  line-height: var(--lh-main);
  text-transform: uppercase;
  font-weight: 400;
}

.title-main__last {
  margin-left: var(--indent-big);
  color: var(--cl-accent);

  @media (min-width: $tablet-width) {
    margin-left: 100px;
  }
}
