.title-icon {
  color: var(--cl-contrast);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

.title-icon__icon {
  margin-bottom: var(--indent-main);
  fill: var(--cl-contrast);
}
