//FIELD

.field {
  transition: var(--transition-main);

  .error__text {
    display: none;
  }

  input {
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    background: var(--cl-bg-grey);
    color: var(--cl-black-main);
  }

  input:focus {
    color: var(--cl-shadow);
  }

  input:focus::placeholder {
    color: var(--cl-light-haze);
  }

  input:focus {
    background: var(--cl-light);
  }
}

.field--error {
  position: relative;

  &::before {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMiIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDIgMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC41IDAuNVY2LjVIMS41VjAuNUgwLjVaTTAuNSA4LjVWMTAuNUgxLjVWOC41SDAuNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cl-warning);
    border-radius: 50%;
  }

  .error__text {
    display: block;
    color: var(--cl-warning);
    font-size: 12px;
    line-height: 90%;
    text-align: center;
  }

  input {
    padding-right: 48px;
    margin-bottom: var(--spacing-sm);
    box-shadow: 0 0 0 2px var(--cl-warning);
    background: var(--cl-light);
  }
}

.field--success {
  position: relative;

  &::before {
    content: url('data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE2IiBoZWlnaHQ9IjE3IiB2aWV3Qm94PSIwIDAgMTYgMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yIDlMNiAxMi41TDE0IDMuNSIgc3Ryb2tlPSIjMTVBRDM2IiBzdHJva2Utd2lkdGg9IjEuNiIvPgo8L3N2Zz4K');
    position: absolute;
    top: 18px;
    right: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  input {
    padding-right: 48px;
    box-shadow: 0 0 0 2px var(--cl-success);
    background: var(--cl-light);
  }
}

//CONTAINER

.container {
  max-width: 1440px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: 450px) {
    padding: 0 20px;
  }

  @media screen and (min-width: 1400px) {
    padding: 0 70px;
  }
}
