$accent: #FB2B2B;

$black: #000000;
$middleBlack: #1E1E1E;
$dark: #141414;
$middleGray: #3C3C3C;
$grey: #6B6B6B;
$neutral: #999;

$white: #ffffff;

$shadow: 0 0 7px -1px $neutral;
$transition-main: all 0.3s ease-in;

$desktopWidth: 1000px;
$mWidth: 1180px;
$lWidth: 1300px;
$mobWidth: 450px;
$xlWidth:1400px;

:root {
  --cl-light: #ffffff;
  --cl-bg-grey:#F2F2F2;
  --cl-grey-light:#BCBCBC;
  --cl-dark:#717171;
  --cl-black-main:#2e2e2e;
  --cl-accent: #AB76B4;

  --cl-void: #000000; // Полная тьма
  --cl-abyss: #141414; // Бездна
  --cl-shadow: #1E1E1E; // Тень
  --cl-echo: #3C3C3C; // Эхо
  --cl-drift: #6B6B6B; // Дрейф
  --cl-haze: #999999; // Дымка
  --cl-light-haze: #D7D7D7;

  --cl-warning:#FB2B2B;
  --cl-success:#15AD36;

  --desktop-width: 1000px;

  --transition-main: all 0.3s ease-in;

  --spacing-sm: 4px;
  --spacing: 8px;
  --spacing-m: 16px;
}
