.about {
  background: var(--cl-dark);
  border-radius: var(--radius-main) var(--radius-main) 0 0;
}

.about .container {
  padding-top: calc( var(--indent-big));
  padding-bottom: calc(2 * var(--indent-big));

  @media (min-width:$tablet-width) {
    padding-top: var(--indent-huge);
  }
}

.about__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.about__buttons-block {
  margin-bottom: var(--indent-main);
}

.about__img-sticker {
  margin-bottom: var(--indent-main);
}

.about__service{
  margin-bottom: var(--indent-main);
}

.about__decoration {
  margin-bottom: var(--indent-main);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
