.best__header {
  margin-bottom: var(--indent-big);
  background: var(--cl-dark);
  border-radius: 0 0 var(--radius-main) var(--radius-main);

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }

  .container {
    padding-bottom: var(--indent-main);
  }
}

.best__divider-block {
  display: flex;
  justify-content: space-between;
}

.best__cover {
  margin: var(--indent-main) auto;
  width: 280px;
  min-height: 430px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    min-height: auto;
  }
}

.best__main-cover {
  @media (min-width: $tablet-width) {
    margin-right: var(--indent-main);
    flex: 0 0 70%;
    box-sizing: border-box;
  }
}

.best__extra-cover {
  position: absolute;
  right: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    min-height: 100%;
  }
}

.best__slider-wrapper {
  position: relative;
}

.best__control-buttons {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }
}

.best__decoration {
  margin-bottom: var(--indent-main);
}
