.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  background: var(--cl-accent);
  border-radius: 50%;
  transition: var(--transition-main);

  svg {
    fill: var(--cl-contrast);
  }

  &:hover{
    opacity: 0.8;
  }
}

.button-social--connect {
  svg{
    transform: translateY(2px);
  }
}
