.button-link {
  font-weight: 800;
  display: block;
  width: fit-content;
  position: relative;
  transition: var(--transition-main);
  color: var(--cl-main);

  &--center {
    margin: 0 auto;
  }

  &--accent {
    color: var(--cl-accent);
  }

  &--arrow {
    padding: 0 var(--indent-big) 0 0;

    &::after {
      content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04LjAwMDE5IDBDOC41NTI0OCAwIDkuMDAwMTkgMC40NDc3MTUgOS4wMDAxOSAxVjExLjA4NThMMTMuNjU3IDYuNDI4OTNDMTQuMDQ3NiA2LjAzODQxIDE0LjY4MDcgNi4wMzg0MSAxNS4wNzEzIDYuNDI4OTNDMTUuNDYxOCA2LjgxOTQ2IDE1LjQ2MTggNy40NTI2MiAxNS4wNzEzIDcuODQzMTVMOC43MDczIDE0LjIwNzFDOC4zMTY3NyAxNC41OTc2IDcuNjgzNjEgMTQuNTk3NiA3LjI5MzA4IDE0LjIwNzFMMC45MjkxMjQgNy44NDMxNUMwLjUzODU5OSA3LjQ1MjYyIDAuNTM4NTk5IDYuODE5NDYgMC45MjkxMjQgNi40Mjg5M0MxLjMxOTY1IDYuMDM4NDEgMS45NTI4MSA2LjAzODQxIDIuMzQzMzQgNi40Mjg5M0w3LjAwMDE5IDExLjA4NThWMUM3LjAwMDE5IDAuNDQ3NzE1IDcuNDQ3OTEgMCA4LjAwMDE5IDBaIiBmaWxsPSIjQUI3NkI0Ii8+Cjwvc3ZnPgo=');
      position: absolute;
      right: 0;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
