.contact__text-block {
  margin-bottom: var(--indent-main);

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.contact__button {
  display: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
