.garantee__image-block {
  margin-bottom: var(--indent-main);
}

.garantee__decoration {
  margin-left: auto;
  margin-bottom: var(--indent-main);
  width: 70%;
}

.garantee__footer {
  margin-left: auto;
  width: 70%;
}
