.garantee-list__item {
  @media (min-width:$tablet-width) {
    display: flex;
    margin-bottom: var(--indent-big);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.garantee-list__header {
  @media (min-width: $tablet-width) {
    // margin-right: var(--indent-main) !important;
    flex: 0 0 30%;
  }
}

.garantee-list .garantee-list__button {
  @media (min-width: $tablet-width) {
    font-family: "Natasha", Arial, sans-serif;
    pointer-events: none;


    &::after {
      display: none;
    }
  }
}
