.intro__cover {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-big);
  }
}

.intro .intro__buttons-block {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.intro__slider-wrapper {
  @media (min-width:$tablet-width) {
    position: relative;
  }
}

.intro__control-buttons {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }
}

.intro__advantage {
  margin-bottom: var(--indent-main);

  @media (min-width:$tablet-width) {
    margin-bottom: 0;
  }
}

.intro__decoration {
  margin-bottom: var(--indent-main);

  @media (min-width:$tablet-width) {
    margin-bottom: 0;
  }
}
