.intro__cover {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro .intro__buttons-block {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.intro__advantage {
  margin-bottom: var(--indent-main);
}

.intro__decoration {
  margin-bottom: var(--indent-main);

  @media (min-width:$tablet-width) {
    margin-bottom: 0;
  }
}
