.intro-advantages {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.intro-advantages__item {
  @media (min-width: $tablet-width) {
    margin-right: calc(2 * var(--indent-main));
    margin-bottom: var(--indent-big);

    flex: 0 0 30%;

    &:nth-child(3n){
      margin-right: 0;
    }
  }
}
