.order {
  @media (min-width:$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.order__cover {
  @media (min-width:$tablet-width) {
    margin-right: var(--indent-big);
    flex: 0 0 270px;
  }
}

.order__image-block {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
   height: auto;
  }

}

.order__title-block {
  margin-bottom: var(--indent-main);

  @media (min-width:$tablet-width) {
    margin-bottom: 0;
  }
}

.order__text-block {
  margin-bottom: var(--indent-main);
}
