.order {
  @media (min-width:$tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order__cover {
  @media (min-width:$tablet-width) {
    margin-right: var(--indent-big);
    flex: 0 0 230px;
  }
}

.order__content{
  @media (min-width:$tablet-width) {
    flex: 0 0 calc(100% - 270px - var(--indent-big));
  }
}

.order__image-block {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
   height: auto;
  }

}

.order__title-block {
  margin-bottom: var(--indent-main);

  @media (min-width:$tablet-width) {
    margin-bottom: 0;
  }
}

.order__text-block {
  margin-bottom: var(--indent-main);
}
