.page-prof-trainers__intro {
  margin-bottom: var(--indent-big);
}

.page-prof-trainers__best {
  margin-bottom: var(--indent-big);
}

.page-prof-trainers__questions {
  margin-bottom: var(--indent-big);
}

.page-prof-trainers__why {
  margin-bottom: var(--indent-big);
}

.page-prof-trainers__projects {
  margin-bottom: var(--indent-big);
}

.page-prof-trainers__projects-detail {
  margin-bottom: var(--indent-big);
}

.page-prof-trainers__garantee {
  margin-bottom: var(--indent-big);
}

.page-prof-trainers__trainers {
  margin-bottom: var(--indent-big);
}
