.product-card__image-block {
  margin-right: auto;
  margin-bottom: var(--indent-main);
  margin-left: auto;
  max-width: 300px;
}

.product-card__title-block {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__button {
  margin-left: auto;
}
