.product-card {
  min-height: 100%;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.product-card__wrapper {
  @media (min-width: $tablet-width) {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    min-height: inherit;
  }
}

.product-card__image-block {
  margin-right: auto;
  margin-bottom: var(--indent-main);
  margin-left: auto;
  max-width: 300px;
  width: 100%;
  min-height: 260px;
}

.product-card__title-block {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.product-card__button {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-top: auto;
   }
}
