.projects-detail__title-block {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: center;
}

.projects-detail__video-block {
  margin-bottom: var(--indent-main);
}

.projects-detail__projects {
  margin-bottom: var(--indent-main);
}

.projects-detail__links {
  display: flex;
  justify-content: space-between;
}
