.projects-detail__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.projects-detail__video-block {
  margin-bottom: var(--indent-main);
}

.projects-detail__projects {
  margin-bottom: var(--indent-main);
}

.projects-detail__links {
  display: flex;
  justify-content: space-between;
}
