.projects__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.projects__image-block {
  margin-bottom: var(--indent-main);

  @media (min-width: $tablet-width) {
    margin-bottom: var(--indent-big);
  }
}

.projects__decoration {
  margin-bottom: var(--indent-big);
  fill: var(--cl-dark);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
