.projects__title-block {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: center;
}

.projects__image-block {
  margin-bottom: var(--indent-main);
}

.projects__subtitle-block {
  margin-bottom: var(--indent-main);
}

.projects__title-secondary {
  margin-bottom: var(--indent-main);
}

.projects__decorative {
  margin-bottom: var(--indent-main);
}
