.slider-with-button {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-with-button__item {
  z-index: 1;
  box-sizing: border-box;
}

.slider-with-button__buttons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-with-button--image .slider-with-button__buttons {
  top: auto;
  bottom: 15%;
  transform: translateY(-50%);
}

.slider-with-button__text-block {
  padding-right: var(--indent-big);
  margin-bottom: var(--indent-main);
  min-height: 100px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.slider-with-button.slider-with-button--simple {
  .slider-with-button__buttons {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .slider-with-button__slider {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    .slider-with-button__item {
      @media (min-width: $tablet-width) {
        margin-right: var(--indent-main);
        flex: 0 0 calc(50% - var(--indent-main));
        display: flex;
        flex-direction: column;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    .slider-with-button__text-block {
      @media (min-width: $tablet-width) {
        flex: 1 1 auto;
      }
    }
  }
}

.slider-with-button.slider-with-button--nobutton-desk {
  .slider-with-button__buttons {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.slider-with-button__decoration {
  margin-bottom: var(--indent-main);
}
