
.slider-best__content {
  @media (min-width: $tablet-width) {
    margin-bottom: var(--indent-big);
    display: flex;
  }
}

.slider-best__cover {
  @media (min-width: $tablet-width) {
    margin-right: var(--indent-huge);
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.slider-best__title-block {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-right: var(--indent-big);
    padding-left: var(--indent-big);
    margin-bottom: var(--indent-huge);
  }
}

.slider-best__subtitle {
  margin-bottom: var(--indent-main);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.slider-best__decoration {
  margin-bottom: var(--indent-main);
}

.slider-best__image-block {
  margin-bottom: var(--indent-main);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    height: auto;
  }
}

.slider-best__accordion {
  margin-bottom: var(--indent-main);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.slider-best__communicate {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.slider-best__button-wrapper {
  margin: 0 auto var(--indent-big);
  width: fit-content;

  &:first-child {
    display: none;
    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
    flex: 0 0 calc(50% - var(--indent-main));
  }
}

.slider-best__calc-button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.slider-best__button {
  margin: 0 auto var(--indent-main);

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}


