.slider-with-button {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-with-button__item {
  z-index: 1;
  box-sizing: border-box;
}

.slider-with-button__buttons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-with-button--image .slider-with-button__buttons {
  top: auto;
  bottom: 15%;
  transform: translateY(-50%);
}

.slider-with-button__text-block {
  padding-right: var(--indent-big);
  margin-bottom: var(--indent-main);
  min-height: 100px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}
