.slider-with-button {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-with-button__item {
  padding-right: var(--indent-big);
  z-index: 1;
}

.slider-with-button__container {
  display: flex;
  flex-direction: column;
}

.slider-with-button__buttons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-with-button__slider {
  flex: 1 1 auto;
}

.slider-with-button--image .slider-with-button__buttons {
  top: auto;
  bottom: 15%;
  transform: translateY(-50%);
}

.slider-with-button__text-block {
  min-height: 150px;
  flex: 1 1 auto;
}

.slider-with-button__link {
  margin-top: auto;
}

