.slider-best__title {
  margin-bottom: var(--indent-main);
  display: flex;
  justify-content: center;
}

.slider-best__decoration {
  margin-bottom: var(--indent-main);
}

.slider-best__title {
  margin-bottom: var(--indent-main);
}

.slider-best__image-block {
  margin-bottom: var(--indent-main);
}

.slider-best__accordion {
  margin-bottom: var(--indent-main);
}

.slider-best__button {
  margin-bottom: var(--indent-main);
}

.slider-best__image-extra {
  margin-bottom: var(--indent-big);
}

.slider-best__title-extra {
  margin-bottom: var(--indent-main);
}

.best__text-extra {
  margin-bottom: var(--indent-main);
}
