.accordion {
  @include paper;
  border-radius: var(--radius-basic);
}

.accordion .ac-header {
  padding: 32px 22px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 46px 44px;
  }
}

.accordion .ac.is-active>.ac-header {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
  }
}

.accordion .ac.is-active>.ac-panel {
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }

  &--extra {
    padding-bottom: 10px;
  }
}

.accordion-address {
  padding: 0 22px;

  @media (min-width:$tablet-width) {
    padding: 0 44px;

  }
}

.accordion .ac-trigger {
  padding: 0 57px 0 0;
  color: inherit;
  font-family: "Helvetica", Arial, sans-serif;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: center center/ 15px 8px no-repeat url('/i/media/stat/icons/simple-arrow.svg');
    width: var(--button-size-big);
    height: var(--button-size-big);
    border-radius: 50%;
    box-shadow: var(--shadow-middle);
    transition: var(--transition-main);
  }
}

.accordion.accordion--adaptive .ac-trigger {
  @media (min-width:$tablet-width) {
    pointer-events: none;
    cursor: default;
  }

  &::after {
    @media (min-width:$tablet-width) {
      display: none;
    }
  }
}

.accordion .ac.is-active>.ac-header .ac-trigger {
  &::after {
    content: '';
    transform-origin: center center;
    transform: translateY(-50%) rotate(180deg);
  }
}

.accordion .ac {
  margin-top: 0;
  border: none;
  background: none;
}

.accordion__text-block {
  margin-bottom: 46px;
  padding: 0 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 44px;
    margin-bottom: 59px;
  }
}

.accordion__schedule {
  padding: 0 22px;
  margin: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accordion__time-item {
  margin: 8px;
  padding: 25px;
  flex: 0 0 calc(50% - 16px);
  box-sizing: border-box;
  background: var(--cl-neutral-accent);
  border-radius: var(--radius-xsmall);
  text-align: center;
  font-weight: var(--fw-medium);
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    padding: 18px 5px;
  }
}

.accordion__extra-image {
  margin: 0 auto 38px;
}

.accordion__extra-title-block {
  margin-bottom: 46px;
}

.accordion__extra-text-block {
  margin-bottom: 46px;
}

.accordion__paper {
  padding: 38px 12px 46px;
  margin: 0 10px;
  box-sizing: border-box;
  background: var(--cl-contrast);
  border-radius: 20px;
  box-shadow: var(--shadow-main);

  @media (min-width:$tablet-width) {
    padding: 46px 26px 68px;

  }
}

.accordion.accordion--faq {
  .title-secondary {
    font-size: 18px;
    color: var(--cl-dark);
    font-weight: var(--fw-regular);
  }

  .ac-trigger {
    &::after {
      background: center center/ 15px 8px no-repeat url('/i/media/stat/icons/simple-arrow-neutral.svg');
    }
  }

  .ac-header {
    padding-left: 39px;
  }

  .title-secondary {
    font-weight: var(--fw-bold);
  }

  .accordion__text-block {
    padding: 0 39px;
  }
}
