// Main button

.button-main {
  padding: var(--indent-basic) var(--indent-main);
  display: block;
  width: fit-content;
  box-sizing: border-box;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: var(--fz-medium);
  line-height: var(--lh-main);
  font-weight: 500;
  background: var(--cl-contrast);
  box-shadow: var(--shadow-main);
  color: var(--cl-heavy-dark);
  border-radius: var(--radius-main);

  &--active {
    background: var(--cl-heavy-dark);
    color: var(--cl-contrast);
  }
}

.button-main.tns-nav-active {
  background: var(--cl-heavy-dark);
  color: var(--cl-contrast);
}

// Active button

.button-action {
  padding: var(--indent-basic) var(--indent-big);
  display: block;
  width: fit-content;
  box-sizing: border-box;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: var(--fz-medium);
  line-height: var(--lh-main);
  font-weight: 500;
  background: var(--cl-accent);
  color: var(--cl-contrast);
  border-radius: var(--radius-main);
  box-shadow: var(--shadow-button);
}

// Popup button

.button-popup {
  width: fit-content;
  display: flex;
  position: relative;
}

.button-popup__button {
  padding: var(--indent-basic);
  width: var(--popup-size);
  height: var(--popup-size);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--cl-accent);
  border-radius: 50%;
}

.button-popup__icon {
  fill: var(--cl-contrast);

  &--time {
    transform: translate(3px, -2px);
  }
}

.button-popup__modal {
  background: var(--cl-accent);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 120%;
  width: 0;
  height: var(--popup-size);
  align-items: center;
  border-radius: var(--radius-main);
  font-size: var(--fz-small);
  text-transform: lowercase;
  color: var(--cl-contrast);
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.button-popup.button-popup--open {

  .button-popup__modal {
    padding: var(--indent-small) var(--indent-main);
    display: flex;
    opacity: 1;
    width: 145px;
  }
}

// Round button

.button-round {
  padding: var(--indent-small);
  width: var(--button-size-big);
  height: var(--button-size-big);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cl-accent);
  background: var(--cl-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-middle);
}

.button-round__icon {
  fill: var(--cl-accent);
}

// Table button

.button-table {
  display: flex;
  justify-content: center;
  align-items: center;

  &--prev {
    display: none;
    transform-origin: center center;
    transform: rotate(180deg);
  }
}

.button-table__icon {
  fill: var(--cl-accent);
}

// Modal button

.button-modal {}

.button-modal__container {
  width: 146px;
  position: relative;
}

.button-modal__image-block {
  padding-top: var(--indent-small);
  padding-bottom: var(--indent-small);
  margin-bottom: var(--indent-basic);
  display: flex;
  justify-content: center;
}

.button-modal__text-block {
  text-align: center;
}

.button-modal__icon {
  fill: var(--cl-dark);
}

.button-modal__button {
  position: absolute;
  top: var(--indent-basic);
  right: var(--indent-basic);
}

.button-modal__modal {
  display: none;
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--open {
    display: block;
  }

}

.button-modal__header {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-modal__item--open>.button-modal__container {
  filter: blur(3px);

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
  }
}
