// Main button

.button-main {
  padding: var(--indent-basic) var(--indent-main);
  display: block;
  width: fit-content;
  box-sizing: border-box;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: var(--fz-medium);
  line-height: var(--lh-main);
  font-weight: 500;
  background: var(--cl-contrast);
  box-shadow: var(--shadow-main);
  color: var(--cl-heavy-dark);
  border-radius: var(--radius-main);
  transition: var(--transition-main);

  &--active {
    background: var(--cl-heavy-dark);
    color: var(--cl-contrast);
  }

  &--center {
    margin-right: auto;
    margin-left: auto;
  }


  &:active {
    background: var(--cl-heavy-dark);
    color: var(--cl-contrast);
  }

  &:hover {
    box-shadow: var(--shadow-main-hover);
  }
}

.button-main.tns-nav-active {
  background: var(--cl-heavy-dark);
  color: var(--cl-contrast);
}

// Active button

.button-action {
  padding: var(--indent-basic) var(--indent-big);
  display: block;
  width: fit-content;
  box-sizing: border-box;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: var(--fz-medium);
  line-height: var(--lh-main);
  font-weight: 500;
  background: var(--cl-accent);
  color: var(--cl-contrast);
  border-radius: var(--radius-main);
  box-shadow: var(--shadow-button);
  transition: var(--transition-main);

  &:hover {
    box-shadow: var(--shadow-main-hover);
  }
}

// Popup button

.button-popup {
  width: fit-content;
  display: flex;
  position: relative;
}

.button-popup__button {
  padding: var(--indent-basic);
  width: var(--popup-size);
  height: var(--popup-size);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--cl-accent);
  border-radius: 50%;
}

.button-popup__icon {
  fill: var(--cl-contrast);

  &--time {
    transform: translate(3px, -2px);
  }
}

.button-popup__modal {
  background: var(--cl-accent);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 120%;
  width: 0;
  height: var(--popup-size);
  align-items: center;
  border-radius: var(--radius-main);
  font-size: var(--fz-small);
  text-transform: lowercase;
  color: var(--cl-contrast);
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.button-popup.button-popup--open {

  .button-popup__modal {
    padding: var(--indent-small) var(--indent-main);
    display: flex;
    opacity: 1;
    width: 145px;
  }
}

// Round button

.button-round {
  padding: var(--indent-small);
  width: var(--button-size-big);
  height: var(--button-size-big);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cl-accent);
  background: var(--cl-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-middle);
  vertical-align: middle;
  line-height: var(--lh-main);
  transition: var(--transition-main);

  &--big {
    @media (min-width:$tablet-width) {
      width: var(--button-size-huge);
      height: var(--button-size-huge);
      font-size: var(--fz-mediumx);
      line-height: 100%;
      vertical-align: middle;
    }
  }

  &--accent {
    background: var(--cl-accent);
    color: var(--cl-contrast);
  }

  &--slider {
    background: var(--cl-transparent-contrast);
    box-shadow: none;


    svg {
      fill: var(--cl-contrast);
    }
  }

  &--slider-prev {
    transform: rotate(180deg);
  }

  &:hover {
    box-shadow: var(--shadow-main-hover);
  }
}

.button-round__icon {
  fill: var(--cl-accent);
  pointer-events: none;
}

// Table button

.button-table {
  display: flex;
  justify-content: center;
  align-items: center;

  &--prev {
    display: none;
    transform-origin: center center;
    transform: rotate(180deg);
  }
}

.button-table__icon {
  fill: var(--cl-accent);
}

// Modal button

.button-modal {
  margin: calc(-1 * var(--indent-basic));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-modal__item {
  max-width: 327px;
  min-width: 130px;
  flex: 0 1 calc(50% - 2 * var(--indent-basic));
  margin: var(--indent-basic);

  @media (min-width:$tablet-width) {
    min-height: 200px;
  }
}

.button-modal__container {
  min-height: 100px;
  height: 100%;
}

.button-modal__content-block {
  @media (min-width:$tablet-width) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.button-modal__image-block {
  margin-bottom: var(--indent-main);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button-modal__text-block {
  text-align: center;
}

.button-modal__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.button-modal__icon {
  fill: var(--cl-dark);
}

.button-modal__action-block {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.button-modal__button {
  margin-top: var(--indent-basic);
  margin-right: var(--indent-basic);
  margin-left: auto;
}

.button-modal__modal {
  display: none;
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  &--open {
    display: block;
  }
}

.button-modal__header {
  margin-bottom: var(--indent-big);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Input

.input.field-main {
  padding: var(--indent-main) var(--indent-big);
  box-shadow: var(--shadow-inset);
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--radius-big);

  &::placeholder {
    opacity: 0.5;
  }

  &:focus-within {
    outline: none;
    border: 1px solid var(--cl-dark);
    box-sizing: border-box;
  }
}
