// Lifting cost

.cost-lifting__header {
  margin-bottom: var(--indent-big);
}

.cost-lifting__title {
  margin-bottom: var(--indent-big);
}

.cost-lifting__intro-block {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin: calc(-1 * var(--indent-big)) calc(-1 * var(--indent-big)) var(--indent-big);
    display: flex;
  }
}

.cost-lifting__intro-item {
  margin-bottom: var(--indent-main);

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width:$tablet-width) {
    margin: var(--indent-big);
    flex: 0 0 calc(50% - 2 * var(--indent-big));
  }
}

.cost-lifting__table {
  position: relative;
}

.cost-lifting__table-button-block {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

// Delivery cost

.cost-delivery__button-block {
  margin: calc(-1 * var(--indent-small));
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cost-delivery__button-item {
  margin: var(--indent-small);
}
