// Communicate form

.form-communicate {
  display: none;

  &--open {
    margin-top: var(--indent-huge);
    display: block;
  }
}

.form-communicate__fieldset {
  margin: 0 auto var(--indent-big);
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.form-communicate__label {
  margin-bottom: var(--indent-main);

  &:last-child {
    margin-bottom: 0;
  }
}

.form-communicate__button {
  margin: 0 auto;
}

.form-communicate__intro-block {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin: calc(-1 * var(--indent-big)) calc(-1 * var(--indent-big)) var(--indent-big);
    display: flex;
  }
}

.form-communicate__intro__item {
  margin-bottom: var(--indent-main);

  &:last-child {
    margin-bottom: 0;

  }

  @media (min-width:$tablet-width) {
    margin: var(--indent-big);
    flex: 0 0 calc(50% - 2 * var(--indent-big));
  }
}

// Success modal

.message {
  position: fixed;
  width: 250px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--success{
    color: var(--cl-accent);
  }
}
