// Image block

.image-block {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-main);
  background: rgba(0, 0, 0, 0.1);


  img {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: block;
    object-fit: cover;
  }
}

// Image pins

.image-pins {
  min-width: 300px;
  max-width: 480px;
  position: relative;
}

.image-pins__item {
  position: absolute;
  z-index: 1;
}

.image-pins.image-pins--treadmill {
  .image-pins__item {
    &:nth-child(1) {
      top: 12%;
      left: 10%;
    }

    &:nth-child(2) {
      top: 32%;
      left: 35%;
    }

    &:nth-child(3) {
      top: 70%;
      left: 35%;
    }
  }
}

.image-pins.image-pins--ellipsoid {
  .image-pins__item {
    &:nth-child(1) {
      top: 12%;
      left: 15%;
    }

    &:nth-child(2) {
      top: 40%;
      left: 28%;
    }

    &:nth-child(3) {
      top: 62%;
      left: 40%;
    }

    &:nth-child(4) {
      top: 83%;
      left: 28%;
    }
  }
}

.image-pins.image-pins--bike {
  .image-pins__item {
    &:nth-child(1) {
      top: 8%;
      left: 18%;
    }
  }
}

.image-pins.image-pins--rowing {
  .image-pins__item {
    &:nth-child(1) {
      top: 40%;
      left: 40%;
    }
  }
}

.image-pins.image-pins--armchair {
  .image-pins__item {
    &:nth-child(1) {
      top: 10%;
      left: 25%;
    }
  }
}
