// Buttons block

.button-block {
  margin: -6px;
  display: flex;
  flex-wrap: wrap;
}

.button-block__item {
  margin: 6px;
}

// Main table

.table-main {
  width: 100%;
  border-collapse: collapse;
}

.table-main__cell {
  padding: 10px;
  font-weight: var(--fw-medium);
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &--header {
    padding: 15px 10px;
    color: var(--cl-accent);
  }

}

// Line table

.table-line {
  display: flex;
}

.table-line__header-column {
  margin-right: 25px;
  flex: 0 0 max-content;

  .table-line__row {
    color: var(--cl-accent);
  }
}

.table-line__row {
  padding: 18px 0;
  font-weight: var(--fw-bold);

  &:last-child {
    margin-bottom: 0;
  }
}
