.page-delivery {
  #wmc {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: var(--fz-main);
    line-height: var(--lh-medium);
    font-weight: var(--fw-light);
    background: var(--cl-light);
  }
}

.page-delivery #wmc>.wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.page-delivery__main-nav {
  margin-bottom: var(--indent-big);
}

.page-delivery__main-nav .container {
  padding-top: 5px;
}

.page-delivery__cover {
  margin-bottom: var(--indent-big);
}

.page-delivery__navigation {
  margin-bottom: var(--indent-super);
}

.page-delivery__receiving {
  margin-bottom: calc(var(--indent-huge) + var(--indent-medium));
}

.page-delivery__receiving-type {
  margin-bottom: 52px;
}

.page-delivery__cost-delivery {
  margin-bottom: var(--indent-huge);
}

.page-delivery__cost-lifting {
  margin-bottom: var(--indent-big);
}

.page-delivery__payment {
  margin-bottom: var(--indent-huge);
}

.page-delivery__delivery-regions {
  margin-bottom: 53px;
}

.page-delivery__form-communicate {
  margin-bottom: var(--indent-big);
}

.page-delivery__faq {
  margin-bottom: var(--indent-big);
}

.page-delivery__action {
  margin-bottom: var(--indent-big);
}
