.page-delivery-state {
  & #wmc {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: var(--fz-main);
    line-height: var(--lh-main);
    font-weight: 300;
    background: var(--cl-neutral);
  }
}

.page-delivery-state #wmc>.wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}
