.payment {
  position: relative;
}

.payment.payment--open .payment__content {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    background: var(--cl-transparent-neutral);
  }
}

.payment.payment--open {

  .button-modal__container,
  .payment__title-extra {
    filter: blur(3px);
  }
}

.payment__variant-item {
  margin-bottom: var(--indent-big);
}

.payment__title-extra {
  margin-bottom: var(--indent-main);
}

.payment__content {
  margin-bottom: var(--indent-big);
}

.payment__extra-title {
  margin-bottom: var(--indent-big);
}

.payment__extra-info {
  margin-bottom: var(--indent-big);

  @media (min-width:$tablet-width) {
    margin: calc(-1 * var(--indent-big)) calc(-1 * var(--indent-big)) 0;
    display: flex;
  }
}

.payment__extra-item{
  margin-bottom: var(--indent-main);

  &:last-child {
    margin-bottom: 0;

  }
  @media (min-width:$tablet-width) {
    margin: var(--indent-big);
    flex: 0 0 calc(50% - 2 * var(--indent-big));
  }
}
