// Receiving

.receiving__title {
  padding-bottom: var(--indent-huge);
  margin-bottom: var(--indent-big);
  position: relative;

  &::after {
    content: '';
    @include decoration
  }
}

.receiving__text-block {
  margin-bottom: var(--indent-big);
}

.receiving__wrapper {
  display: flex;
}

.receiving__content {
  @media (min-width: $tablet-width) {
    margin-right: var(--indent-huge);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }
}

.receiving__text-intro {
  margin-bottom: var(--indent-huge);
}

.receiving__text {
  margin-bottom: var(--indent-big);

  @media (min-width: $tablet-width) {
    margin-bottom: var(--indent-huge);
  }
}

.receiving__map-block {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    flex: 0 0 360px;
  }
}

// Receiving type

.receiving-type__intro-block {
  margin-bottom: var(--indent-big);
}


.receiving-type--center {
  margin-right: auto;
  margin-left: auto;
}

.receiving-type__info-image-block {
  margin-bottom: var(--indent-main);
}

.receiving-type__info-block {
  margin-bottom: var(--indent-main);

  &:last-child {
    margin-bottom: 0;
  }
}

.receiving-type__main-slider {
  margin-bottom: var(--indent-main);
}

.receiving-type__action-block {
  margin: calc(-1 * var(--indent-basic));
  display: flex;
  justify-content: end;

  #receiving-close-up{
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.receiving-type__action-item {
  margin: var(--indent-basic);
}

.receiving-type__map-block {
  margin-bottom: var(--indent-big);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: var(--radius-main);
  height: 386px;

  img {
    display: block;
  }
}

.receiving-type__extra-title {
  margin-bottom: var(--indent-big);
}

.receiving-type__pickup-slider-block {
  margin-bottom: var(--indent-big);
  position: relative;
}

.receiving-type__pickup-slider-buttons {
  padding: 0 var(--indent-main);
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  bottom: var(--indent-big);
}

.receiving-type__wrapper {
  @media (min-width: $tablet-width) {
    margin: calc(-1 * var(--indent-main));
    display: flex;
    align-items: flex-end;
    background: center top / contain no-repeat url('/i/media/stat/delivery/receiving/bg-desk.png');
  }

  @media (min-resolution: 2dppx) {
    background: center top / contain no-repeat url('/i/media/stat/delivery/receiving/bg-desk@2x.png');
  }
}

.receiving-type__column {
  @media (min-width: $tablet-width) {
    margin: var(--indent-main);
    width: calc(50% - 2 * var(--indent-main));
    flex: 0 0 calc(50% - 2 * var(--indent-main));
  }
}

.receiving-type__pickup-wrapper {
  @media (min-width: $tablet-width) {
    margin: calc(-1 * var(--indent-main));
    display: flex;
    align-items: flex-end;
  }
}

.receiving-type__pickup-block {
  margin-bottom: var(--indent-big);

  @media (min-width: $tablet-width) {
    margin: var(--indent-main);
    width: calc(50% - 2 * var(--indent-main));
  }
}
