.receiving-type--center{
  margin-right: auto;
  margin-left: auto;
}

.receiving-type__content {
  display: grid;
  row-gap: var(--indent-main);
  // justify-items: center;
}

.receiving-type__action-block {
  justify-self: end;
}
