// Receiving

.receiving__title {
  padding-bottom: 60px;
  margin-bottom: 38px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
    margin-bottom: 34px;
    max-width: 700px;
  }

  &::after {
    content: '';
    @include decoration;
  }
}

.receiving__wrapper {
  display: flex;
  justify-content: space-between;
}

.receiving__content {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
    max-width: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }
}

.receiving__text-intro {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }
}

.receiving__subtitle {
  margin-bottom: 32px;
}

.receiving__text {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.receiving__map-block {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 356px;
    height: 500px;
  }
}

// Receiving type

.receiving-type__intro-block {
  margin-bottom: 30px;

  @media (min-width:$tablet-width) {
    max-width: 460px;
  }
}

.receiving-type--center {
  margin-right: auto;
  margin-left: auto;
}

.receiving-type__info-image-block {
  margin-bottom: 26px;
}

.receiving-type__info-block {
  margin-bottom: 46px;

  &:last-child {
    margin-bottom: 0;
  }

}

.receiving-type__main-slider {
  margin-bottom: 26px;

  @media (min-width:$tablet-width) {
    margin-bottom: 100px;
  }
}

.receiving-type__action-block {
  margin: -7px -17px;
  display: flex;
  justify-content: end;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.receiving-type__action-item {
  margin: 7px;
}

.receiving-type__map-block {
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  height: 386px;

  img {
    display: block;
  }
}

.receiving-type__extra-title {
  margin-bottom: 14px;
}

.receiving-type__pickup-slider-block {
  margin-bottom: 24px;
  position: relative;
}

.receiving-type__pickup-slider-buttons {
  padding: 0 17px;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  bottom: 23px;
}

.receiving-type__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin: -28px;
    align-items: end;
    background: center top / contain no-repeat url('/i/media/stat/delivery/receiving/bg-desk.png');
  }

  @media (min-resolution: 2dppx) and (min-width: $tablet-width) {
    background: center top / contain no-repeat url('/i/media/stat/delivery/receiving/bg-desk@2x.png');
  }
}

.receiving-type__col {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin: 28px;
    flex: 0 0 calc(50% - 56px);
  }
}

.receiving-type__pickup-wrapper {
  @media (min-width: $tablet-width) {
    margin: -25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.receiving-type__pickup-block {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 25px;
    width: calc(50% - 50px);
  }
}
