.slider-main__header {
  padding-bottom: var(--indent-huge);
  margin-bottom: var(--indent-medium);
  position: relative;

  &::after {
    content: '';
    @include decoration;
  }
}

.slider-main__title {
  margin-bottom: var(--indent-big);
}

.slider-main #slider-delivery-mw {
  overflow: visible;
}

.slider-main__intro-block {
  margin-bottom: 45px;

  @media (min-width:$tablet-width) {
    margin: calc(-1 * var(--indent-big)) calc(-1 * var(--indent-big)) var(--indent-big);
    display: flex;
  }
}

.slider-main__intro-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;

  }
  @media (min-width:$tablet-width) {
    margin: var(--indent-big);
    flex: 0 0 calc(50% - 2 * var(--indent-big));
  }
}

.slider-main__table-block {
  margin-bottom: 50px;

}
