.slider-main__header {
  padding-bottom: var(--indent-big);
  margin-bottom: var(--indent-big);
  position: relative;

  &::after {
    content: '';
    @include decoration;
  }
}

.slider-main__title {
  margin-bottom: var(--indent-huge);
}

.slider-main #slider-delivery-mw {
  overflow: visible;
}

.slider-main__intro-block {
  margin-bottom: var(--indent-big);
}
