// Major Title

.title-major {
  padding-right: var(--indent-huge);
  width: fit-content;
  font-size: var(--fz-big);
  line-height: var(--lh-big);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCA0MiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4wOTE4IDBDMTQuNDA0MyAwIDE3LjM3NzkgMS40NTIxNSAxOS40MTAyIDMuNzU0ODhDMTcuOTY1OCA1LjgzNzg5IDE3LjExOTEgOC4zNjYyMSAxNy4xMTkxIDExLjA5MjhDMTcuMTE5MSAxMy44MTg0IDE3Ljk2NDggMTYuMzQ2NyAxOS40MDkyIDE4LjQyODdDMTcuMzc3IDIwLjczMTQgMTQuNDAzMyAyMi4xODI2IDExLjA5MTggMjIuMTgyNkM0Ljk2NTgyIDIyLjE4MjYgMCAxNy4yMTY4IDAgMTEuMDkxOEMwIDQuOTY1ODIgNC45NjU4MiAwIDExLjA5MTggMFpNMzAuOTA5MiAyMi4xODI2QzM3LjAzNDIgMjIuMTgyNiA0MiAxNy4yMTY4IDQyIDExLjA5MThDNDIgNC45NjU4MiAzNy4wMzQyIDAgMzAuOTA5MiAwQzI0Ljc4MzIgMCAxOS44MTc0IDQuOTY1ODIgMTkuODE3NCAxMS4wOTE4QzE5LjgxNzQgMTcuMjE2OCAyNC43ODMyIDIyLjE4MjYgMzAuOTA5MiAyMi4xODI2WiIgZmlsbD0iI0YzRjNGMyIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOm11bHRpcGx5Ii8+Cjwvc3ZnPgo=');
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

// Main Title

.title-main {
  font-size: var(--fz-big);
  line-height: var(--lh-main);
  font-weight: 500;
}

// Secondary title

.title-secondary {
  font-size: var(--fz-mediumx);
  line-height: var(--lh-main);
  vertical-align: middle;
  font-weight: 400;
  color: var(--cl-accent);

  &--basic{
    color: var(--cl-dark);
  }
}

// Extra title

.title-extra {
  font-size: var(--fz-main);
  line-height: var(--lh-main);
  font-weight: 500;

  &--accent{
    color:var(--cl-accent);
  }
}

// Subtitle

.subtitle {
  font-size: var(--fz-medium);
  line-height: var(--lh-huge);
  font-weight: 400;
  text-transform: uppercase;
}

// Main text

.text-main {
  margin-bottom: var(--indent-main);

  &:last-child {
    margin-bottom: 0;
  }

  &--accent {
    color: var(--cl-accent);
  }

  &--strong {
    font-weight: 500;
  }
}

// Numeric list

.list-numeric {
  padding-left: var(--indent-main);
}

.list-numeric__item {
  padding-left: var(--indent-basic);
}
