// Main Title

.title-main {
  font-size: 26px;
  line-height: 120%;
  font-weight: var(--fw-bold);

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 130%;
  }
}

// Secondary title

.title-secondary {
  font-size: 22px;
  line-height: 140%;
  vertical-align: middle;
  font-weight: var(--fw-regular);
  color: var(--cl-accent);

  &--basic {
    font-size: 20px;
    color: var(--cl-dark);
    font-weight: var(--fw-regular);
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }
}

// Extra title

.title-extra {
  font-size: var(--fz-main);
  line-height: var(--lh-main);
  font-weight: var(--fw-medium);

  &--accent {
    color: var(--cl-accent);
  }
}

// Extra info

.title-extra-info {
  color: var(--cl-accent);
  font-weight: var(--fw-bold);
  font-size: 20px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.title-simple {
  line-height: 1.2;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

// Subtitle

.subtitle {
  font-size: 16px;
  line-height: 160%;
  font-weight: var(--fw-regular);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

// Main text

.text-main {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &--accent {
    color: var(--cl-accent);
  }

  &--medium {
    font-weight: var(--fw-medium);
  }

  &--strong {
    font-weight: var(--fw-bold);
  }

  &--center {
    text-align: center;
  }

  &--important {
    font-size: var(--fz-xmedium);
  }

  &--del {
    font-weight: 300;
    color: var(--cl-disable);
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      background: var(--cl-disable);
    }
  }
}

// Numeric list

.list-numeric {
  padding-left: var(--indent-main);
}

.list-numeric__item {
  padding-left: var(--indent-basic);
}

// Standard list

.list-standard {
  padding: 0;
  margin-bottom: 32px;
  list-style: none;

  li {
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 10px;
      background: var(--cl-main);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Main link

.link-main {
  color: var(--cl-accent);

  &--medium {
    font-weight: var(--fw-medium);
  }
}
