#wmc {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: var(--fw-light);
  background: var(--cl-light);

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

#wmc>.wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}
