// Major Title

.title-major {
  width: fit-content;
  font-size: 32px;
  line-height: 130%;
  font-weight: var(--fw-bold);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 108px;
    position: relative;
    font-size: 52px;

    &::after {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCA0MiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4wOTE4IDBDMTQuNDA0MyAwIDE3LjM3NzkgMS40NTIxNSAxOS40MTAyIDMuNzU0ODhDMTcuOTY1OCA1LjgzNzg5IDE3LjExOTEgOC4zNjYyMSAxNy4xMTkxIDExLjA5MjhDMTcuMTE5MSAxMy44MTg0IDE3Ljk2NDggMTYuMzQ2NyAxOS40MDkyIDE4LjQyODdDMTcuMzc3IDIwLjczMTQgMTQuNDAzMyAyMi4xODI2IDExLjA5MTggMjIuMTgyNkM0Ljk2NTgyIDIyLjE4MjYgMCAxNy4yMTY4IDAgMTEuMDkxOEMwIDQuOTY1ODIgNC45NjU4MiAwIDExLjA5MTggMFpNMzAuOTA5MiAyMi4xODI2QzM3LjAzNDIgMjIuMTgyNiA0MiAxNy4yMTY4IDQyIDExLjA5MThDNDIgNC45NjU4MiAzNy4wMzQyIDAgMzAuOTA5MiAwQzI0Ljc4MzIgMCAxOS44MTc0IDQuOTY1ODIgMTkuODE3NCAxMS4wOTE4QzE5LjgxNzQgMTcuMjE2OCAyNC43ODMyIDIyLjE4MjYgMzAuOTA5MiAyMi4xODI2WiIgZmlsbD0iI0YzRjNGMyIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOm11bHRpcGx5Ii8+Cjwvc3ZnPgo=");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}

// Main Title

.title-main {
  font-size: 26px;
  line-height: 120%;
  font-weight: var(--fw-bold);

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 130%;
  }
}

// Secondary title

.title-secondary {
  font-size: 22px;
  line-height: 140%;
  vertical-align: middle;
  font-weight: var(--fw-regular);
  color: var(--cl-accent);

  &--basic {
    font-size: 20px;
    color: var(--cl-dark);
    font-weight: var(--fw-regular);
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }
}

// Extra title

.title-extra {
  font-size: var(--fz-main);
  line-height: var(--lh-main);
  font-weight: var(--fw-medium);

  &--accent {
    color: var(--cl-accent);
  }
}

// Extra info

.title-extra-info {
  color: var(--cl-accent);
  font-weight: var(--fw-bold);
  font-size: 20px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.title-simple {
  font-size: var(--fz-main);
  font-weight: var(--fw-light);
  line-height: var(--lh-tiny);
}

// Subtitle

.subtitle {
  font-size: 16px;
  line-height: 160%;
  font-weight: var(--fw-regular);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

// Main text

.text-main {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &--accent {
    color: var(--cl-accent);
  }

  &--medium {
    font-weight: var(--fw-medium);
  }

  &--strong {
    font-weight: var(--fw-bold);
  }

  &--center {
    text-align: center;
  }

  &--important {
    font-size: var(--fz-xmedium);
  }

  &--del {
    font-weight: 300;
    color: var(--cl-disable);
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      background: var(--cl-disable);
    }
  }
}

// Numeric list

.list-numeric {
  padding-left: var(--indent-main);
}

.list-numeric__item {
  padding-left: var(--indent-basic);
}

// Standard list

.list-standard {
  padding: 0;
  margin-bottom: 32px;
  list-style: none;

  li {
    padding-left: 20px;
    position: relative;
  }

  li::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
    background: var(--cl-main);

    @media (min-width: $tablet-width) {
      top: 10px;
    }
  }


  &:last-child {
    margin-bottom: 0;
  }
}

// Main link

.link-main {
  color: var(--cl-accent);

  &--medium {
    font-weight: var(--fw-medium);
  }
}
