//Simple accordion
//--mobonly - active onli in mobile version
//--extra - extra view
//--action - with action button

.accordion-simple {
  border-radius: 30px;
  box-shadow: var(--shadow-basic);
  overflow: hidden;
  background: var(--cl-contrast);
  cursor: pointer;

  .accordion-simple__label-wrapper {
    padding: 32px 22px 32px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    pointer-events: none;

    @media (min-width: $tablet-width) {
      padding: 46px 30px 46px 39px;
    }
  }

  .accordion-simple__title {
    margin-right: 30px;
    font-size: 20px;
    line-height: 110%;
    font-weight: var(--fw-bold);

    @media (min-width: $tablet-width) {
      font-size: 26px;
      line-height: 140%;
    }
  }

  .accordion-simple__button {
    flex: 0 0 37px;
    padding: 5px;
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    background: var(--cl-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: var(--shadow-basic);
    transition: var(--transition-main);
    cursor: pointer;
  }

  .accordion-simple__icon {
    fill: var(--cl-disable);
    transition: var(--transition-main);
  }

  .accordion-simple__button--action {
    display: none;
  }

  &.active .accordion-simple__button--toggler {
    transform: rotate(180deg);
  }

  .accordion-simple__content-wrapper {
    padding: 0 32px 35px;

    @media (min-width: $tablet-width) {
      padding: 0 39px 45px;
    }
  }

  .accordion-simple__content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: var(--transition-main);
  }
}

.accordion-simple.accordion-simple--extra {
  .accordion-simple__label-wrapper {
    padding: 27px 30px 65px;
    flex-direction: column;
    align-items: stretch;
  }

  .accordion-simple__title {
    order: 2;
    display: flex;
    flex-direction: column;
    max-width: 182px;
    font-size: 18px;
    line-height: 140%;

    @media (min-width: $tablet-width) {
      font-size: 22px;
    }
  }

  .accordion-simple__counter {
    margin-bottom: 12px;
    font-size: 28px;

    @media (min-width: $tablet-width) {
      font-size: 32px;
    }
  }

  .accordion-simple__buttons-block {
    display: flex;
    margin: -10px;
    order: 1;
    align-self: end;
  }

  .accordion-simple__button {
    margin: 10px;
  }

  .accordion-simple__content-wrapper {
    padding: 22px 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 50px;
      height: 1px;
      background: var(--cl-dark);
    }
  }

  .accordion-simple__content-wrapper p {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: var(--fw-regular);
    line-height: 140%;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.accordion-simple.accordion-simple--action {
  .accordion-simple__button--action {
    display: block;
  }
}
