.accordion-simple {
  border-radius: 30px;
  box-shadow: var(--shadow-basic);
  overflow: hidden;
  background: var(--cl-contrast);
  cursor: pointer;

  .accordion-simple__label-wrapper {
    padding: 32px 22px 32px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    pointer-events: none;

    @media (min-width: $tablet-width) {
      padding: 46px 30px 46px 39px;
    }
  }

  .accordion-simple__title {
    margin-right: 30px;
    font-size: 20px;
    line-height: 110%;
    font-weight: var(--fw-bold);

    @media (min-width: $tablet-width) {
      font-size: 26px;
      line-height: 140%;
    }
  }

  .accordion-simple__button {
    flex: 0 0 37px;
    padding: 11px;
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    background: var(--cl-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: var(--shadow-basic);
    transition: var(--transition-main);
    cursor: pointer;
  }

  .accordion-simple__icon {
    fill: var(--cl-disable);
    transition: var(--transition-main);
  }

  &.active .accordion-simple__icon {
    transform: rotate(180deg);
  }

  .accordion-simple__content-wrapper {
    padding: 0 32px 35px;

    @media (min-width: $tablet-width) {
      padding: 0 39px 45px;
    }
  }

  .accordion-simple__content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: var(--transition-main);
  }
}
