@mixin button {
  display: block;
  width: fit-content;
  box-sizing: border-box;

  letter-spacing: 0.02rem;
  font-weight: var(--fw-medium);
  box-shadow: var(--shadow-main);
  border-radius: 30px;
  transition: var(--transition-main);

  &:hover {
    box-shadow: var(--shadow-main-hover);
  }
}

/**
* @section controls
* Main button
* @tag a, button
* --default - white with shadow
* --active - black background, white text
* --center - centered button
* :hover - with biger shadow
*/

.button-main {
  @include button;

  padding: 8px 20px;
  background: var(--cl-contrast);
  color: var(--cl-heavy-dark);
  font-size: 16px;
  line-height: 130%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &:active {
    background: var(--cl-heavy-dark);
    color: var(--cl-contrast);
  }
}

.button-main.button-main--active {
  background: var(--cl-heavy-dark);
  color: var(--cl-contrast);
}

.button-main.button-main--center {
  margin-right: auto;
  margin-left: auto;
}

/**
* @section controls
* Action button
* @tag a, button
* --default - violet with shadow
* :hover - with biger shadow
*/

.button-action {
  @include button;

  padding: 15px 20px;
  background: var(--cl-accent);
  color: var(--cl-contrast);
  font-size: 18px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;

  .button-action__text {
    margin-right: 15px;
  }

  .button-action__icon {
    fill: var(--cl-contrast);

    @media (min-width: $tablet-width) {
      width: 17px;
      height: 12px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 29px 35px;
    font-size: 32px;
    line-height: 130%;
  }
}

.button-action.button-action--simple {
  padding: 13px 30px;
  font-size: 14px;
  line-height: 130%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

/**
* @section controls
* Round button
* @tag a, button
* --default - white with shadow
* --simple - grey text
* --transparent - white transparent bg
* --rotate - rotate 180deg
* --accent - violet
* --big - size is bigger
*/

.button-round {
  padding: 11px;
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: var(--fw-medium);
  color: var(--cl-accent);
  background: var(--cl-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-middle);
  vertical-align: middle;
  line-height: 150%;
  transition: var(--transition-main);

  &:hover {
    box-shadow: var(--shadow-main-hover);
  }

  .button-round__icon {
    fill: var(--cl-accent);
    pointer-events: none;
  }
}

.button-round.button-round--simple {
  color: var(--cl-disable);
  font-size: 18px;
  font-weight: var(--fw-regular);
}

.button-round.button-round--big {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: var(--fw-medium);

  @media (min-width: $tablet-width) {
    width: 90px;
    height: 90px;
    font-size: 26px;
    line-height: 100%;
    vertical-align: middle;
  }
}

.button-round.button-round--accent {
  background: var(--cl-accent);
  color: var(--cl-contrast);
}

.button-round.button-round--transparent {
  background: var(--cl-transparent-contrast);
  box-shadow: none;

  svg {
    fill: var(--cl-contrast);
  }
}

.button-round.button-round--rotate {
  transform: rotate(180deg);
}

/**
* @section controls
* Payment button
*/

.payment-item {
  @include paper;

  padding: 15px;
  min-height: 100px;
  height: 100%;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 45px;
  }

  .payment-item__content {
    @media (min-width: $tablet-width) {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .payment-item__action-block {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  .payment-item__button {
    display: none;
  }

  .payment-item__image-block {
    margin: 0 auto 11px;
    width: 81px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;

    @media (min-width:$tablet-width) {
      margin-bottom: 38px;
      width: 148px;
      height: 55px;
    }
  }

  .payment-item__icon {
    fill: var(--cl-dark);
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;

    @media (min-width:$tablet-width) {
      width: 100%;
    }
  }

  .payment-item__text-block {
    text-align: center;
    line-height: 120%;
    font-size: 14px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }
  }
}

.payment-item.payment-item--info {
  .payment-item__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-right: 4px;
    margin-left: auto;

    @media (min-width: $tablet-width) {
      margin-top: 15px;
      margin-right: 15px;
    }
  }
}

.payment-item.payment-item--small-icon {
  .payment-item__icon {
    @media (min-width:$tablet-width) {
      width: 100%;
      max-width: 50px;
    }
  }
}

.payment-item__modal {
  padding: 30px;
  width: 80%;
  max-width: 352px;
  border-radius: 20px;
  background: var(--cl-middle);
  display: none;

  header {
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    width: 50%;
  }
}

/**
* Popup button
*/

.button-popup {
  width: fit-content;
  display: flex;
  position: relative;

  .button-popup__button {
    padding: var(--indent-basic);
    width: var(--popup-size);
    height: var(--popup-size);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--cl-accent);
    border-radius: 50%;
  }

  .button-popup__icon {
    fill: var(--cl-contrast);

    &--time {
      transform: translate(3px, -2px);
    }
  }

  .button-popup__modal {
    padding: 6px 12px;
    height: fit-content;
    background: var(--cl-accent);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120%;
    align-items: center;
    border-radius: var(--radius-small);
    color: var(--cl-contrast);
    overflow: hidden;
    transition: all 0.2s ease-in;
    font-weight: var(--fw-regular);
    pointer-events: none;
    opacity: 0;
    font-size: 14px;
    line-height: 1.2;
    vertical-align: middle;
  }
}

/**
* Table button
*/

.button-table {
  display: flex;
  justify-content: center;
  align-items: center;

  &--prev {
    display: none;
    transform-origin: center center;
    transform: rotate(180deg);
  }

  .button-table__icon {
    fill: var(--cl-accent);
  }
}

/**
* Input
*/

.input.field-main {
  padding: 12px 29px;
  box-shadow: var(--shadow-inset);
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;

  &::placeholder {
    color: var(--cl-disable);
    opacity: 0.5;
  }

  &:focus-within {
    outline: none;
    border: 1px solid var(--cl-dark);
    box-sizing: border-box;
  }
}
