.payment {
  .payment__content {
    @include paper;

    padding: 32px 22px 13px;
    margin-bottom: 54px;
    border-radius: 30px;
  }

  .payment__title {
    margin-bottom: 38px;
  }

  .payment__title-extra {
    margin-bottom: 17px;
  }

  .payment__alert {
    font-size: 12px;
    color: var(--cl-disable);

    p {
      margin-bottom: 8px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .payment__variant-item {
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.payment__type-list {
  margin: -9px -4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin: -9px -17px;
  }
}

.payment__type-item{
  margin: 18px 4px;
  max-width: 320px;
  min-height: 98px;
  flex: 1 0 calc(50% - 8px);

  &:nth-child(3n) {
    flex-grow: 0;
  }

  @media (min-width: 544px) {
    min-height: 130px;
  }

  @media (min-width: $tablet-width) {
    margin: 18px 17px;
    flex: 1 0 320px;
    width: 320px;
    min-height: 200px;
  }
}
