/**
* @section texts
* Title major
* @tag h1
*/

.title-major {
  font-size: 32px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: var(--fw-bold);

  @media (min-width: $tablet-width) {
    font-size: 52px;
  }
}

/**
* @section texts
* Main title
* @tag h2
*/

.title-main {
  font-size: 26px;
  line-height: 120%;
  font-weight: var(--fw-bold);

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 130%;
  }
}

/**
* @section texts
* Ttile secondary
* @tag h2
*/

.title-secondary {
  color: var(--cl-accent);
  font-weight: var(--fw-bold);
  font-size: 20px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

/**
* @section texts
* Subtitle
* @tag h3
*/

.subtitle-secondary {
  font-size: 14px;
  line-height: 130%;
  font-weight: var(--fw-medium);

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.subtitle {
  font-size: 22px;
  line-height: 140%;
  vertical-align: middle;
  font-weight: var(--fw-regular);
  color: var(--cl-accent);

  &--basic {
    font-size: 20px;
    color: var(--cl-dark);
    font-weight: var(--fw-regular);
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }
}

/**
* @section texts
* Main text
* @tag p, span
* --accent - violet text
* --medium - 500 font-weight
* --strong - 800 font-weight
* --center - centered text
* --del - crossed out text
*/

.text-main {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-main.text-main--accent {
  color: var(--cl-accent);
}

.text-main.text-main--medium {
  font-weight: var(--fw-medium);
}

.text-main.text-main--strong {
  font-weight: var(--fw-bold);
}

.text-main.text-main--center {
  text-align: center;
}

.text-main.text-main--del {
  font-weight: var(--fw-light);
  color: var(--cl-disable);
  position: relative;

  &::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    background: var(--cl-disable);
  }
}

/**
* @section texts
* Standard list
* @tag ul
*/

.list-standard {
  padding: 0;
  margin-bottom: 32px;
  list-style: none;

  li {
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 10px;
      background: var(--cl-main);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
