:root {
  --fz-small: 12px;
  --lh-small: 120%;
  --fz-main: 14px;
  --lh-main: 120%;
  --fz-medium: 16px;
  --lh-medium: 120%;
  --fz-big: 26px;
  --lh-big: 120%;
}

@media (min-width: $tablet-width) {
  :root {
    --fz-main: 16px;
    --lh-main: 24px;
  }
}
