@font-face {
  font-family: "Helvetica";
  src:
    url("../../../../i/font/helvetica-regular.woff2") format("woff2"),
    url("../../../../i/font/helvetica-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../../../../i/font/helvetica-light.woff2") format("woff2"),
    url("../../../../i/font/helvetica-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("../../../../i/font/helvetica-bold.woff2") format("woff2"),
    url("../../../../i/font/helvetica-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Natasha";
  src:
    url("../../../../i/font/natasha-regular.woff2") format("woff2"),
    url("../../../../i/font/natasha-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
