.page-prof-trainers {
  #wmc {
    font-family: 'Helvetica', Arial, sans-serif;
    background: var(--cl-contrast);
    font-size: var(--fz-main);
    line-height: var(--lh-main);
    font-weight: 400;
  }
}

.page-prof-trainers #wmc > .wrapper{
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.title {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.text {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
