$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1000px;
$max-width: 1180px;

:root {
  --indent-small: 4px;
  --indent-basic: 8px;
  --indent-main: 16px;
  --indent-big: 32px;
  --indent-huge: 64px;
  --indent-super: 128px;
  --radius-basic: 12px;
  --radius-main: 20px;
  --radius-big: 30px;
  --button-size: 24px;
  --transition-main: all 0.3s ease-out;
}

// Font size

:root {
  --fz-small: 12px;
  --lh-small: 120%;
  --fz-main: 14px;
  --lh-main: 120%;
  --fz-medium: 16px;
  --lh-medium: 120%;
  --fz-big: 26px;
  --lh-big: 120%;
}

@media (min-width: $tablet-width) {
  :root {
    --fz-main: 15px;
    --lh-main: 120%;
    --fz-medium: 18px;
    --lh-medium: 120%;
    --fz-big: 45px;
    --lh-big: 120%;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --fz-main: 17px;
    --lh-main: 120%;
    --fz-medium: 18px;
    --lh-medium: 120%;
    --fz-big: 45px;
    --lh-big: 120%;
  }
}

// Colors

:root {
  --cl-main: rgb(101, 98, 115);
  --cl-contrast: rgb(255, 255, 255);
  --cl-accent: rgb(171, 118, 180);
  --cl-dark: rgb(31, 31, 31);
  --cl-neutral: rgb(106, 98, 115);
}
