//Guarantee list

.guarantee-list {
  @media (min-width: $tablet-width) {
    margin: -15px -8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1050px) {
    margin: -15px -22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.guarantee-list__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 15px 4px;
    flex: 0 0 calc(33% - 8px);
    min-height: 100%;
  }

  @media (min-width: 1050px) {
    margin: 15px 22px;
    flex: 0 0 calc(33% - 44px);
  }
}

//Rejection list

.rejection__item {
  padding-left: 63px;
  margin-bottom: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content:url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292924 1.70711C-0.0976009 1.31658 -0.0976009 0.683418 0.292924 0.292894C0.683448 -0.0976306 1.31661 -0.0976306 1.70714 0.292894L6.00003 4.58579L10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0977 0.683418 12.0977 1.31658 11.7071 1.70711L7.41424 6L11.7071 10.2929C12.0977 10.6834 12.0977 11.3166 11.7071 11.7071C11.3166 12.0976 10.6834 12.0976 10.2929 11.7071L6.00003 7.41421L1.70714 11.7071C1.31661 12.0976 0.683448 12.0976 0.292924 11.7071C-0.0976005 11.3166 -0.0976005 10.6834 0.292924 10.2929L4.58582 6L0.292924 1.70711Z' fill='white'/%3e%3c/svg%3e ");
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    background: var(--cl-heavy-dark);
    border-radius: 50%;
  }
}
