.guarantee-list {
  @media (min-width: 1050px) {
    margin: -15px -22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.guarantee-list__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 1050px) {
    margin: 15px 22px;
    flex: 0 0 calc(33% - 44px);
    min-height: 100%;
  }
}
