// Service

.service__title-block {
  margin-bottom: 64px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

// Complaint

.complaint__text-block {
  margin-bottom: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.complaint__action-block {
  display: flex;
  justify-content: center;
}
