.container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: $mobile-width;
  max-width: $max-width;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
  }

  &--extra {
    padding: 0 34px;

    @media (min-width: $tablet-width) {
      padding: 0 50px;
    }
  }
}

.container--full {
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.container__narrow {
  margin-right: 0;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-right: -32px;
    margin-left: -32px;
  }
}



.container-inner {
  padding: 0 22px;
}
