@font-face {
  font-family: "Helvetica";
  src:
    url("@@pathi/font/helvetica-regular.woff2") format("woff2"),
    url("@@pathi/font/helvetica-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("@@pathi/font/helvetica-medium.woff2") format("woff2"),
    url("@@pathi/font/helvetica-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("@@pathi/font/helvetica-light.woff2") format("woff2"),
    url("@@pathi/font/helvetica-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("@@pathi/font/helvetica-bold.woff2") format("woff2"),
    url("@@pathi/font/helvetica-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Natasha";
  src:
    url("@@pathi/font/natasha-regular.woff2") format("woff2"),
    url("@@pathi/font/natasha-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
