$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1000px;
$max-width: 1180px;

:root {
  --fz-small: 12px;
  --fz-medium: 16px;
  --fz-mediumx: 20px;
  --fz-big: 26px;
  --lh-main: 120%;
  --lh-big: 130%;
  --lh-huge: 170%;


  @media (min-width: $tablet-width) {
    --fz-main: 15px;
    --fz-medium: 18px;
    --fz-big: 45px;
  }

  @media (min-width: $desktop-width) {
    --fz-main: 17px;
    --fz-medium: 18px;
    --fz-big: 45px;
  }
}

:root {
  --indent-small: 4px;
  --indent-basic: 8px;
  --indent-main: 16px;
  --indent-big: 32px;
  --indent-huge: 64px;
  --indent-super: 128px;
  --radius-basic: 12px;
  --radius-main: 20px;
  --radius-big: 30px;
  --button-size: 24px;
  --button-size-big: 37px;
  --popup-size: 42px;
  --transition-main: all 0.3s ease-out;
  --shadow-main: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  --shadow-middle: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  --shadow-button: 0 4px 4px 0 rgba(171, 118, 180, 0.16);
}


// Colors
:root {
  --cl-main: rgb(101, 98, 115);
  --cl-contrast: rgb(255, 255, 255);
  --cl-light: rgb(252, 251, 252);
  --cl-accent: rgb(171, 118, 180);
  --cl-dark: rgb(31, 31, 31);
  --cl-heavy-dark: rgb(40, 40, 40);
  --cl-neutral: rgb(106, 98, 115);
  --cl-disable: rgb(169, 169, 169);
  --cl-neutral-accent: rgb(247, 244, 251);
}
