@import "global/normalize.scss";

//FONTS

@font-face {
  font-family: "Roboto";
  src:
    url("../../i/font/roboto-regular.woff2") format("woff2"),
    url("../../i/font/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../i/font/roboto-medium.woff2") format("woff2"),
    url("../../i/font/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../i/font/roboto-bold.woff2") format("woff2"),
    url("../../i/font/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// VARIABLE
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$max-width: 1180px;

:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --main-shadow: 2px 0 14px 1px rgba(0, 0, 0, 0.14) inset;
  --extra-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.06);
  --accent-shadow: 0 0 0 1px var(--cl-accent) inset;
  --inner-shadow: 0px 4px 12px 0px #754B7C inset;
  --transition-main: all 0.3s ease-out;
  --cl-main: rgb(142, 142, 142);
  --cl-neutral: rgb(186, 186, 186);
  --cl-disable: rgb(180, 180, 180);
  --cl-disable-02: rgba(180, 180, 180, 0.2);
  --cl-light-neutral: rgb(237, 234, 238);
  --cl-background: rgb(236, 236, 236);
  --cl-neutral-03: rgba(186, 186, 186, 0.3);
  --cl-heavy-dark: rgb(0, 0, 0);
  --cl-contrast: rgb(255, 255, 255);
  --cl-accent: rgb(171, 118, 180);
  --cl-light: rgb(252, 251, 252);
}

//GLOBAL

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.title {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

.text {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.input,
.input[type="text"],
.input[type="password"] {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input[type="number"],
.input[type="number"]:hover,
.input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.textarea {
  resize: none !important;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.nobr {
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 300px;
  max-width: $max-width;

  @media (min-width: $tablet-width) {
    padding: 0 27px;
  }

  &--middle {
    padding: 0 17px;
    box-sizing: border-box;
  }

  &--narrow {
    padding: 0 27px;
    box-sizing: border-box;
  }
}

.container-extra {
  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    min-width: 300px;
    max-width: $max-width;
  }

  .container-extra__col {

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }

    &:first-child {
      @media (min-width: $tablet-width) {
        margin-right: 15px;
        flex: 0 1 703px;
      }
    }

    &:last-child {
      @media (min-width: $tablet-width) {
        flex: 0 1 470px;
      }
    }
  }
}


.image-block {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  svg {
    max-width: 100%;
    height: auto;
  }
}

//---Fancybox

.fancybox__container {
  --fancybox-bg: rgba(0, 0, 0, 0.2);
}

.fancybox__content {
  max-width: 352px;
  padding: 30px;
  width: 80%;
  max-width: 352px;
  border-radius: 20px;
  background: rgba(242, 242, 250);
}

//PAGES

#wmc {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 117%;
  font-weight: var(--fw-regular);
  color: var(--cl-main);
  background: var(--cl-light);
}

#wmc>.wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

//Cart page

.cart-page__title-main {
  padding-top: 13px;
  margin-bottom: 64px;

  @media (min-width:$tablet-width) {
    padding-top: 54px;
    margin-bottom: 31px;
  }
}

.cart-page__form {
  margin-bottom: 24px;
}

// Cart order

.cart-page-order__title-main {
  padding-top: 17px;
  margin-bottom: 38px;
}

.cart-page-order__form-order {
  margin-bottom: 38px;
}

// Cart finish

.cart-page-finish__title-main {
  padding-top: 17px;
  margin-bottom: 15px;

  @media (min-width:$tablet-width) {
    margin-bottom: 28px;
  }
}

.cart-page-finish__title-block {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 130%;
  color: var(--cl-accent);
  font-weight: var(--fw-bold);

  @media (min-width:$tablet-width) {
    margin-bottom: 48px;
    font-size: 20px;
    max-width: 516px;
  }
}

.cart-page-finish__text-block {
  font-size: 14px;
  line-height: 130%;
  color: var(--cl-heavy-dark);

  @media (min-width:$tablet-width) {
    font-size: 20px;
    max-width: 516px;
  }

  p {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width:$tablet-width) {
      margin-bottom: 42px;
    }
  }
}

.cart-page-finish__content {
  margin-bottom: 30px;
}


.cart-page-finish__paper {
  padding: 20px;
  border-radius: 30px;
  background: var(--cl-contrast);
  box-shadow: var(--extra-shadow);
  box-sizing: border-box;

  @media (min-width:$tablet-width) {
    padding: 78px;
  }
}

//Texts

.title-main {
  font-size: 20px;
  font-weight: var(--fw-bold);
  color: var(--cl-heavy-dark);

  @media (min-width: $tablet-width) {
    font-size: 26px;
  }
}

.title-section {
  font-size: 18px;
  font-weight: var(--fw-bold);
  color: var(--cl-heavy-dark);
  line-height: 95%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.title-subsection {
  font-size: 14px;
  font-weight: var(--fw-bold);
  color: var(--cl-heavy-dark);
}

.text-main {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  &--accent {
    font-size: 14px;
    line-height: 128%;
    color: var(--cl-heavy-dark);
  }

  &--accent-adaptive {
    font-size: 14px;
    line-height: 128%;
    color: var(--cl-heavy-dark);
    font-weight: var(--fw-bold);

    @media (min-width:$tablet-width) {
      font-size: 18px;
      line-height: 100%;
      font-weight: var(--fw-medium);
    }
  }

  &--adaptive {
    @media (min-width:$tablet-width) {
      font-size: 14px;
      line-height: 142%;
    }
  }

  &--huge-accent {
    font-size: 32px;
    line-height: 56%;
    color: var(--cl-heavy-dark);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--strong {
    font-weight: var(--fw-bold);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--medium {
    font-weight: var(--fw-medium);
  }

  &--nobr {
    white-space: nowrap;
  }

  &--middle {
    font-size: 14px;
    line-height: 128%;
  }

  &--big {
    font-size: 16px;
  }

  &--big-accent {
    font-size: 20px;
    color: var(--cl-heavy-dark);
  }

  &--del {
    position: relative;
    width: fit-content;

    @media (min-width: $tablet-width) {
      font-size: 14px;
    }
  }

  &--del::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid var(--cl-main);
  }
}

.text-accent {
  font-size: 14px;
  color: var(--cl-accent);

  &--adaptive {
    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 100%;

    }
  }

  &--strong {
    font-weight: var(--fw-bold);
  }

  &--big {
    font-size: 20px;
  }

  &--nobr {
    white-space: nowrap;
  }
}

//Controls

//---Button main

.button-main {
  padding: 8px;
  min-height: 42px;
  background: var(--cl-accent);
  border-radius: 8px;
  color: var(--cl-contrast);
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  line-height: 100%;
  transition: var(--transition-main);

  &--small {
    font-size: 14px;
    font-weight: var(--fw-bold);
  }

  &--full {
    width: 100%;
  }

  &:hover,
  &:active {
    box-shadow: var(--inner-shadow);
  }
}

//---Button extra

.button-extra {
  padding: 8px;
  min-height: 42px;
  background: var(--cl-heavy-dark) radial-gradient(340px 82px at center top, rgba(255, 92, 77, 0.5) 0%, rgba(235, 70, 159, 0.5) 10%, rgba(131, 65, 239, 0.18) 40%, rgba(63, 104, 249, 0) 52%) !important;
  border-radius: 8px;
  color: var(--cl-contrast);
  transition: var(--transition-main);

  &--full {
    width: 100%;
  }

  .button-extra__wrapper {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 100%;
    transition: var(--transition-main);
  }

  .button-extra__text-block {
    margin-right: 5px;
  }

  &:hover .button-extra__wrapper {
    opacity: 0.8;
  }
}

//---Button radio

.button-radio {
  display: flex;
  min-height: 100%;
  cursor: pointer;

  .button-radio__content {
    padding: 14px 18px;
    width: 100%;
    border-radius: 12px;
    box-shadow: var(--extra-shadow);
    display: flex;
    flex-direction: column;
    transition: var(--transition-main);
    background: var(--cl-contrast);
    box-sizing: border-box;

    &:hover,
    &:active {
      box-shadow: 0 0 0 1px var(--cl-accent);
    }
  }

  .button-radio__field:checked+.button-radio__content {
    background: var(--cl-accent);

    span {
      color: var(--cl-contrast);
    }

    span::before {
      border-color: var(--cl-contrast);
    }
  }
}

.button-radio.button-radio--slider {
  padding: 20px 3px;
  width: auto;
}

.button-radio.button-radio--nested {
  .button-radio__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .button-radio__text-block {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .button-radio__price-block {
    flex: 0 0 65px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

.button-radio.button-radio--huge {
  .button-radio__content {
    padding: 20px;
    border-radius: 20px;
  }
}

.button-radio.button-radio--modal {
  .button-radio__content {
    padding: 14px 18px;
    border-radius: 20px;
    position: relative;

    @media (min-width: 540px) {
      padding: 14px 18px 25px;
    }

    @media (min-width: $tablet-width) {
    padding: 20px;
    }
  }

  .button-radio__action-block {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
  }

  .button-radio__modal-button {
    margin-top: 4px;
    margin-right: 4px;
    margin-left: auto;
  }

  .button-radio__description-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-radio__image-block {
    margin-bottom: 10px;
    min-height: 47px;
    display: flex;
    align-items: end;
  }

  .button-radio__text-block {
    text-align: center;
  }

  .button-radio__field:checked+.button-radio__content {
    svg {
      fill: var(--cl-contrast);
    }

    .button-radio__action-block {
      display: none;
    }
  }
}

.button-radio.button-radio--modal-noinfo {
  .button-radio__action-block {
    display: none;
  }
}

//---Button slider

.button-slider {
  padding: 12px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--cl-contrast);
  box-shadow: var(--extra-shadow);
  transition: var(--transition-main);

  svg {
    fill: var(--cl-neutral);
    pointer-events: none;
  }

  &--disabled {
    display: none;
  }

  &--prev svg {
    transform: rotate(180deg);
  }

  &:hover,
  &:active {
    background: var(--cl-accent);
  }

  &:hover svg,
  &:active svg {
    fill: var(--cl-contrast);
  }
}

//---Button link

.button-link {
  padding: 5px 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--cl-main);
  font-size: 12px;
  border: 1px solid var(--cl-neutral-03);
  border-radius: 4px;
  transition: var(--transition-main);

  &:hover {
    background: var(--cl-neutral-03);
  }

  .button-link__icon {
    margin-right: 9px;
  }
}

// ---Button link icon

.button-link-iconed {
  padding: 5px 5px 5px 0;
  display: block;
  width: fit-content;
  transition: var(--transition-main);

  &:hover {
    opacity: 0.6;
  }

  .button-link-iconed__icon {
    margin-right: 16px;
  }
}

//---Main link

.link-main {
  color: var(--cl-accent);
  transition: var(--transition-main);

  &:hover {
    opacity: 0.6;
  }
}

//---Yandex pay logo

.ya-pay-logo {
  display: inline-flex;
  align-items: center;

  .ya-pay-logo__icon {
    margin-right: 5px;
  }
}

//---Button round

.button-round {
  width: 37px;
  height: 37px;
  box-shadow: var(--extra-shadow);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  color: var(--cl-neutral);
  transition: var(--transition-main);

  &:hover {
    background: var(--cl-accent);
    color: var(--cl-contrast);
  }
}

//Fields

//---Field with label

.field-labeled {
  display: flex;
  flex-direction: column;

  @media (min-width:$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .field-labeled__field {
    order: 2;
  }

  .field-labeled__label {
    margin-right: 15px;
    margin-bottom: 32px;
    order: 1;

    @media (min-width:$tablet-width) {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: var(--fw-medium);
      color: var(--cl-heavy-dark);
    }
  }
}

//---Field main

input[class~='field-main'] {
  max-width: 160px;
  padding: 10px;
  background: var(--cl-accent);
  border: none;
  text-align: center;
  line-height: 100%;
  vertical-align: middle;
  border-radius: 16px;
  box-shadow: var(--inner-shadow);
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--cl-contrast);
  box-sizing: border-box;
  transition: var(--transition-main);

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: inherit;
  }
}

//---Field simple

input.field-simple[type="text"],
textarea.field-simple {
  padding: 14px 20px;
  width: 100%;
  background: var(--cl-contrast);
  border: none;
  line-height: 100%;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--cl-heavy-dark);
  box-sizing: border-box;
  transition: var(--transition-main);

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    font-weight: var(--fw-regular);
    color: var(--cl-neutral);
  }

  &:hover {
    box-shadow: var(--accent-shadow);
  }

  @media (min-width:$tablet-width) {
    border-radius: 12px;
  }
}

//COMPONENTS

//---Paper

.paper {
  @media (max-width: $mobile-width-only) {
    padding: 26px 21px;
    overflow: hidden;
    box-shadow: var(--extra-shadow);
    background: var(--cl-contrast);
    border-radius: 30px;
  }
}

//---Section

.section {
  @media (min-width: $tablet-width) {
    padding-top: 36px;
    background: var(--cl-contrast);
    border-radius: 30px;
    box-shadow: var(--extra-shadow);
    overflow: hidden;
  }
}

.section.section--nopad {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

//---Counter

.counter {
  display: flex;
  align-items: center;
  justify-content: end;

  .counter__buttons-block {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
  }

  .counter__count-button {
    width: 12px;
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: var(--transition-main);

    svg {
      pointer-events: none;
    }

    &:first-child svg {
      transform: rotate(180deg);
    }

    &:hover {
      background: var(--cl-neutral-03);
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  .counter__field-block {
    margin-right: 3px;
  }

  .counter__field {
    padding: 6px;
    min-width: auto;
    width: 23px;
    border: 1px solid var(--cl-neutral);
    border-radius: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;

    &:read-only {
      border: 1px solid var(--cl-disable-02);
    }

    &:focus:read-only {
      box-shadow: none !important;
    }
  }

  .counter__del-button {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      pointer-events: none;
    }
  }
}

.counter.counter--readonly {
  .counter__buttons-block {
    display: none;
  }

  .counter__del-button {
    display: none;
  }

  .counter__field-block {
    margin-right: 0;
  }
}

//---Item info

.item-info {
  display: flex;
  justify-content: space-between;

  .item-info__text-block {
    flex: 1 1 auto;
    margin-right: 10px;
  }

  .item-info__image-block {
    margin-right: 10px;
  }

  .item-info__icon {
    width: 17px;
    height: 18px;
    fill: var(--cl-accent);

    @media (min-width: $tablet-width) {
      width: 22px;
      height: auto;
    }
  }

  .item-info__counter-block {
    margin-right: 10px;
    display: block;
  }

  .item-info__price-block {
    flex: 0 0 fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    min-width: 80px;

    @media (min-width:$tablet-width) {
      min-width: 100px;
    }
  }
}

//---Order

.order {
  .order__preview {
    margin-right: 8px;
    flex: 0 0 59px;
    height: 59px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 840px) {
      margin-right: 29px;
    }

    img,
    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .order__product {
    margin-right: 8px;
    flex: 1 1 auto;
  }

  .order__picture {
    margin-right: 8px;

    @media (min-width: 840px) {
      margin-right: 38px;
    }

    svg {
      fill: var(--cl-accent);
    }
  }

  .order__counter {
    margin-right: 8px;
  }

  .order__price {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 0 0 fit-content;
    min-width: 80px;

    @media (min-width: $tablet-width) {
      min-width: 100px;
    }
  }
}

.order.order--readonly {
  .counter__buttons-block {
    display: none;
  }
}

//---Accordion

.accordion {
  position: relative;
  display: flex;
  flex-direction: column;

  .accordion__label {
    padding: 18px 0;
    order: 2;
    position: relative;
    cursor: pointer;

    .container {
      pointer-events: none;
    }
  }

  .accordion__content {
    order: 1;
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: var(--transition-main);
  }

  .accordion__icon {
    width: 11px;
    height: 9px;
    fill: var(--cl-neutral);
    transform: rotate(180deg);
    transition: var(--transition-main);
  }

  &.active .accordion__icon {
    transform: rotate(0);
    transition: var(--transition-main);
  }
}

//SECTIONS

//Form start

.form-start__order-structure {
  margin-bottom: 48px;

  @media (min-width:$tablet-width) {
    margin-bottom: 15px;
  }
}

.form-start__delivery {
  margin-bottom: 48px;

  @media (min-width:$tablet-width) {
    margin-bottom: 35px;
  }
}

.form-start__date {
  margin-bottom: 48px;

  @media (min-width:$tablet-width) {
    margin-bottom: 63px;
  }
}

.form-start__assembly {
  margin-bottom: 64px;

  @media (min-width:$tablet-width) {
    margin-bottom: 43px;
  }
}

.form-start__discount {
  margin-bottom: 64px;

  @media (min-width:$tablet-width) {
    padding-bottom: 27px;
    margin-bottom: 15px;
  }
}

.form-start__details {
  margin-bottom: 64px;

  @media (min-width:$tablet-width) {
    padding-bottom: 74px;
    margin-bottom: 15px;
  }
}

.form-start__control {
  @media (min-width:$tablet-width) {
    padding-bottom: 35px;
  }
}

//Order structure

.order-structure__header {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--cl-neutral-03);

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }
}

.order-structure__wrapper {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.order-structure__content {
  background: var(--cl-contrast);
}

.order-structure__list {
  padding: 14px 0;
}

.order-structure__item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}

//Delivery

.delivery__header {
  margin-bottom: 32px;
}

.delivery__title {
  margin-bottom: 9px;
}

.delivery__content {
  margin-bottom: 32px;
}

.delivery__type-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
  }
}

.delivery__item {
  margin-bottom: 8px;
  display: block;

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 4px;
    flex: 1 0 204px;
    max-width: 212px;
    // min-width: 204px;
  }
}

//Date

.date__day {
  margin-bottom: 4px;
}

.date__header {
  margin-bottom: 4px;
}

.date__slider-wrapper {
  display: flex;
  align-items: center;
}

.date__control {
  flex: 0 0 37px;
  order: 2;
}

.date__day-list-wrapper {
  margin-right: 17px;
  width: 150px;
  flex: 0 0 calc(100% - 54px);
  order: 1;
}

.date__time-list {
  margin: -4px;
  display: flex;
  flex-wrap: wrap;
}

.date__time-item {
  margin: 4px;
}

// Assembly

.assembly__header {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.assembly__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
  }
}

.assembly_item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 4px;
    flex: 1 0 calc(50% - 16px);
    min-width: 207px;
  }
}

//Discount

.discount__header {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.discount.discount--form-start {
  .field-labeled {
    flex-direction: row;
    align-items: center;
  }

  .discount__text-block {
    margin-bottom: 38px;
  }

  .field-labeled__label {
    margin-bottom: 0;
    font-size: 14px;
    color: var(--cl-heavy-dark);
    font-weight: var(--fw-medium);
  }
}

//Details

.details__content {
  margin-bottom: 20px;

  @media (min-width:$tablet-width) {
    margin-bottom: 40px;
  }
}

.details__header {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
    margin-bottom: 52px;
  }
}

.details__item {
  margin-bottom: 34px;

  &:last-child {
    margin-top: 46px;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

//Control

.control__header {
  margin-bottom: 64px;
}

.control__button {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.control__title-block {
  display: flex;
  justify-content: space-between;
}

.control__title {
  margin-right: 10px;
}

.control__sum-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.control__buttons-block {
  margin-bottom: 38px;

  @media (min-width:$tablet-width) {
    margin-bottom: 0;
  }
}

.control__alert-block {
  text-align: right;

  p {
    margin-left: auto;
    max-width: 265px;
  }
}

//Control extra

.control-extra {
  width: 100%;
  padding: 16px;
  background: var(--cl-light-neutral);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-sizing: border-box;
  position: fixed;
  z-index: 30;
  bottom: 44px;
  left: 0;
  display: none;
}

.control-extra__price-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.control-extra__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-extra__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

// Order content

.order-content__title-block {
  margin-bottom: 21px;
}

.order-content__common {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.order-content__common-wrapper {
  @media (min-width: $tablet-width) {
    padding: 29px 0;
  }
}

.order-content__short-list {
  display: flex;
  align-items: center;
}

.order-content__list-item {
  margin-right: 40px;

  &--image-block {
    border-radius: 12px;
    overflow: hidden;
  }

  &:last-child {
    margin-right: 0;
  }
}

.order-content__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-content__label-text-block {
  margin-right: 10px;
}

.order-content__text {
  margin-right: 10px;
}

.order-content__label-price-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.order-content__icon {
  fill: var(--cl-accent);
}

.order-content__date-title-block {
  margin-bottom: 25px;
}

.order-content__price-rezult {
  font-size: 16px;
  color: var(--cl-heavy-dark);
  font-weight: var(--fw-bold);

  @media (min-width:$tablet-width) {
    font-size: 22px;
    line-height: 81%;

  }
}

// Form order

.form-order__title {
  margin-bottom: 35px;
}

.form-order__date {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition-main);

  .section {
    @media (min-width:$tablet-width) {
      padding-bottom: 20px;
    }
  }

  .form-order__date-wrapper {
    padding: 40px 0 40px 0;

    @media (min-width:$tablet-width) {
      padding: 29px 0;
    }
  }

  &.active {
    margin-bottom: 15px;
  }
}


.form-order__discount {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition-main);

  .section {
    @media (min-width:$tablet-width) {
      padding-bottom: 20px;
    }
  }

  .form-order__discount-wrapper {
    padding-bottom: 40px;

    @media (min-width:$tablet-width) {
      padding: 29px 0;
    }
  }

  &.active {
    margin-bottom: 15px;
  }
}

.form-order__order-content {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &.active{
    margin-bottom: 15px;
  }
}

.form-order__fieldset {
  margin-bottom: 54px;
}

.form-order__contacts {
  margin-bottom: 28px;
}

.form-order__fieldlist-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.form-order__textarea {
  min-height: 123px;
}

.form-order__payment {
  margin-bottom: 80px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
    margin-bottom: 15px;
  }
}

.form-order__control {
  padding-bottom: 35px;

  @media (min-width:$tablet-width) {
    padding-bottom: 30px;
  }

  .control__buttons-block {
    margin-bottom: 15px;
  }
}

//Payment

.payment__main-title {
  margin-bottom: 33px;
}

.payment__variant-list {
  margin-bottom: 10px;
}

.payment__variant-item {
  margin-bottom: 33px;

  &:last-child {
    margin-bottom: 0;
  }
}

.payment__list {
  margin: -9px -4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin: -9px -17px;
  }
}

.payment__item {
  margin: 18px 4px;
  max-width: 320px;
  min-height: 98px;
  flex: 1 0 calc(50% - 8px);

  &:nth-child(3n) {
    flex-grow: 0;
  }
}

.payment__title-block {
  margin-bottom: 10px;
}

.payment__modal-header {
  margin-bottom: 20px;
}

.payment__modal {
  display: none;
}

.payment__alert {
  font-size: 12px;
  color: var(--cl-disable);

  p {
    margin-bottom: 8px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
