@import "global/normalize.scss";

//FONTS

@font-face {
  font-family: "Roboto";
  src:
    url("../../i/font/roboto-regular.woff2") format("woff2"),
    url("../../i/font/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../i/font/roboto-medium.woff2") format("woff2"),
    url("../../i/font/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../i/font/roboto-bold.woff2") format("woff2"),
    url("../../i/font/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// VARIABLE
$mobile-width: 320px;
$tablet-width: 768px;
$max-width: 1180px;

:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --main-shadow: 2px 0 14px 1px rgba(0, 0, 0, 0.14) inset;
  --extra-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.06);
  --accent-shadow: 0 0 0 1px var(--cl-accent) inset;
  --inner-shadow: 0px 4px 12px 0px #754B7C inset;
  --transition-main: all 0.3s ease-out;
  --cl-main: rgb(142, 142, 142);
  --cl-neutral: rgb(186, 186, 186);
  --cl-neutral-03: rgba(186, 186, 186, 0.3);
  --cl-heavy-dark: rgb(0, 0, 0);
  --cl-contrast: rgb(255, 255, 255);
  --cl-accent: rgb(171, 118, 180);
  --cl-light: rgb(252, 251, 252);
}

//GLOBAL

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.title {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

.text {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.input,
.input[type="text"],
.input[type="password"] {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input[type="number"],
.input[type="number"]:hover,
.input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.nobr {
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: $mobile-width;
  max-width: $max-width;
  box-sizing: border-box;

  &--narrow {
    padding: 0 27px;
  }

  &--narrow {
    padding: 0 27px;
  }
}

.image-block img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

//PAGE

.cart-page #wmc {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 117%;
  font-weight: var(--fw-regular);
  color: var(--cl-main);
  background: var(--cl-light);
}

.cart-page #wmc>.wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.cart-page__title-main {
  margin-bottom: 64px;
}

.cart-page__order-structure {
  margin-bottom: 48px;
}

.cart-page__delivery {
  margin-bottom: 48px;
}

.cart-page__date {
  margin-bottom: 48px;
}

.cart-page__assembly {
  margin-bottom: 64px;
}

.cart-page__discount {
  margin-bottom: 64px;
}

.cart-page__details {
  margin-bottom: 64px;
}

.cart-page__control {
  margin-bottom: 24px;
}

//Text

.title-main {
  font-size: 20px;
  font-weight: var(--fw-bold);
  color: var(--cl-heavy-dark);
}

.title-section {
  font-size: 18px;
  font-weight: var(--fw-bold);
  color: var(--cl-heavy-dark);
}

.title-subsection {
  font-size: 14px;
  font-weight: var(--fw-bold);
  color: var(--cl-heavy-dark);
}

.text-main {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  &--accent {
    font-size: 14px;
    line-height: 128%;
    color: var(--cl-heavy-dark);
  }

  &--huge-accent {
    font-size: 32px;
    line-height: 56%;
    color: var(--cl-heavy-dark);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--strong {
    font-weight: var(--fw-bold);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--medium {
    font-weight: var(--fw-medium);
  }

  &--nobr {
    white-space: nowrap;
  }

  &--middle {
    font-size: 14px;
  }

  &--del {
    position: relative;
    width: fit-content;
  }

  &--del::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid var(--cl-main);
  }
}

.text-accent {
  font-size: 14px;
  color: var(--cl-accent);

  &--strong {
    font-weight: var(--fw-bold);
  }

  &--big {
    font-size: 20px;
  }

  &--nobr {
    white-space: nowrap;
  }
}

//COMPONENTS

//Button main

.button-main {
  padding: 11px 20px;
  background: var(--cl-accent);
  border-radius: 8px;
  color: var(--cl-contrast);
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  line-height: 100%;
  transition: var(--transition-main);

  &--full {
    width: 100%;
  }

  &:hover,
  &:active {
    box-shadow: var(--inner-shadow);
  }
}

.button-extra {
  padding: 11px 20px;
  background: var(--cl-heavy-dark) radial-gradient(340px 82px at center top, rgba(255, 92, 77, 0.5) 0%, rgba(235, 70, 159, 0.5) 10%, rgba(131, 65, 239, 0.18) 40%, rgba(63, 104, 249, 0) 52%) !important;
  padding: 15px 36px;
  border-radius: 8px;
  color: var(--cl-contrast);
  transition: var(--transition-main);

  &--full {
    width: 100%;
  }

  &:hover .button-extra__wrapper {
    opacity: 0.8;
  }
}

.button-extra__wrapper {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 100%;
  transition: var(--transition-main);
}

.button-extra__text-block {
  margin-right: 5px;
}

//Yandex pay logo

.ya-pay-logo {
  display: inline-flex;
  align-items: center;
}

.ya-pay-logo__icon {
  margin-right: 5px;

}

//Field with label

.field-labeled {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-labeled__field {
  order: 2;
}

.field-labeled__label {
  margin-right: 15px;
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--cl-heavy-dark);
  order: 1;
}

//Field main

input[class~='field-main'] {
  max-width: 160px;
  padding: 10px;
  background: var(--cl-accent);
  border: none;
  text-align: center;
  line-height: 100%;
  vertical-align: middle;
  border-radius: 16px;
  box-shadow: var(--inner-shadow);
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--cl-contrast);
  box-sizing: border-box;
  transition: var(--transition-main);

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: inherit;
  }
}

//Button radio

.button-radio {
  display: flex;
  cursor: pointer;

  &--slider {
    padding: 20px 3px;
  }
}

.button-radio__content {
  padding: 10px 17px;
  width: 100%;
  border-radius: 12px;
  box-shadow: var(--extra-shadow);
  display: flex;
  flex-direction: column;
  transition: var(--transition-main);

  &:hover,
  &:active {
    box-shadow: 0 0 0 1px var(--cl-accent);
  }
}

.button-radio__content--nested {
  flex-direction: row;
}

.button-radio__text-block {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.button-radio__price-block {
  flex: 0 0 65px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.button-radio__field:checked+.button-radio__content {
  background: var(--cl-accent);

  span {
    color: var(--cl-contrast);
  }

  span::before {
    border-color: var(--cl-contrast);
  }
}

.button-radio--big .button-radio__content {
  padding: 18px;
}

.button-radio--huge .button-radio__content {
  padding: 16px 21px;
  border-radius: 20px;
}

//Button slider

.button-slider {
  padding: 12px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--cl-contrast);
  box-shadow: var(--extra-shadow);
  transition: var(--transition-main);

  svg {
    fill: var(--cl-neutral);
    pointer-events: none;
  }

  &--disabled {
    display: none;
  }

  &--prev svg {
    transform: rotate(180deg);
  }

  &:hover,
  &:active {
    background: var(--cl-accent);
  }

  &:hover svg,
  &:active svg {
    fill: var(--cl-contrast);
  }
}

//Link button

.button-link {
  padding: 5px 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--cl-main);
  font-size: 12px;
  border: 1px solid var(--cl-neutral-03);
  border-radius: 4px;
  transition: var(--transition-main);

  &:hover {
    background: var(--cl-neutral-03);
  }
}

.button-link__icon {
  margin-right: 9px;
}

//Item info

.item-info {
  display: flex;
  justify-content: space-between;
}

.item-info__text-block {
  flex: 0 1 fit-content;
}

.item-info__icon {
  width: 17px;
  height: 18px;
  fill: var(--cl-accent);
}

.item-info__price-block {
  flex: 0 0 fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
}


//Counter

.counter {
  display: flex;
  align-items: center;
  justify-content: end;
}

.counter__buttons-block {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.counter__count-button {
  width: 12px;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: var(--transition-main);

  svg {
    pointer-events: none;
  }

  &:first-child svg {
    transform: rotate(180deg);
  }

  &:hover {
    background: var(--cl-neutral-03);
  }

  &:disabled {
    opacity: 0.3;
  }
}

.counter__field-block {
  margin-right: 3px;
}

.counter__field {
  padding: 6px;
  min-width: auto;
  width: 23px;
  border: 1px solid var(--cl-neutral);
  border-radius: 2px;
  font-size: 10px;
  box-sizing: border-box;
  text-align: center;
}

.counter__del-button {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    pointer-events: none;
  }
}

//Order

.order {
  padding: 14px 0;
}

.order__item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--readonly .counter__buttons-block {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.order__preview {
  margin-right: 8px;
  flex: 0 0 59px;
  height: 59px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img,
  svg {
    max-width: 100%;
    height: auto;
  }
}

.order__product {
  margin-right: 8px;
  flex: 1 1 auto;
}

.order__picture {
  margin-right: 8px;

  svg {
    fill: var(--cl-accent);
  }
}

.order__counter {
  margin-right: 8px;
}

.order__price {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 0 0 fit-content;
  min-width: 76px;
}

//Delivery type

.delivery-type__property {
  padding: 20px 17px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
  background: var(--cl-contrast);
  transition: var(--transition-main);

  &:hover,
  &:active {
    box-shadow: 0 0 0 1px var(--cl-accent);
  }
}

.delivery__title-block {
  display: flex;
  flex-direction: column;
}

.delivery-type__title {
  margin-bottom: 12px;
}

.delivery-type__price-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.delivery-type__field:checked+.delivery-type__property {
  background: var(--cl-accent);

  span {
    color: var(--cl-contrast);
  }

  span::before {
    border-color: var(--cl-contrast);
  }
}

//SECTIONS

//Title

.page-title {
  padding-top: 13px;
}

//Order structure

.order-structure__header {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--cl-neutral-03);
}

.order-structure__wrapper {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-structure__content {
  background: var(--cl-contrast);
}

//Delivery

.delivery__header {
  margin-bottom: 32px;
}

.delivery__title {
  margin-bottom: 9px;
}

.delivery__content {
  margin-bottom: 32px;
}

.delivery__item {
  margin-bottom: 10px;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

//Date

.date__day {
  margin-bottom: 4px;
}

.date__header {
  margin-bottom: 4px;
}

.date__slider-wrapper {
  display: flex;
  align-items: center;
}

.date__control {
  flex: 0 0 37px;
  order: 2;
}

.date__day-list-wrapper {
  margin-right: 17px;
  width: 150px;
  flex: 0 0 calc(100% - 54px);
  order: 1;
}

.date__time-list {
  margin: -4px;
  display: flex;
  flex-wrap: wrap;
}

.date__time-item {
  margin: 4px;
}

// Assembly

.assembly__header {
  margin-bottom: 24px;
}

.assembly_item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

//Discount

.discount__header {
  margin-bottom: 24px;
}

.discount__text-block {
  margin-bottom: 32px;
}

//Details

.details__header {
  margin-bottom: 24px;
}

.details__item {
  margin-bottom: 34px;

  &:last-child {
    margin-top: 46px;
    margin-bottom: 0;
  }
}

//Control

.control__header {
  margin-bottom: 64px;
}

.control__button {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.control__title-block {
  display: flex;
  justify-content: space-between;
}

.control__title {
  margin-right: 10px;
}

.control__sum-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}
