// Receiving

.receiving__content {
  @media (min-width: $tablet-width) {
    margin: -57px;
    display: flex;
  }
}

.receiving__content-item {
  margin-bottom: 26px;

  &:last-child{
    margin-bottom: 0px;
  }

  @media (min-width: $tablet-width) {
    margin: 57px;
    flex: 0 0 calc(50% - 114px);
  }
}

.receiving__text-intro {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    max-width: 495px;
  }
}
